<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
</div>

<div class = "row">
	<div class = "col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class = "portlet light ">
			<div class = "portlet-title">
				<div class = "caption font-red-sunglo">
					<i class = "fa fa-user font-red-sunglo"></i>
					<span class = "caption-subject bold uppercase"> Nuevo Cliente</span>
				</div>
			</div>
			<div class = "portlet-body form">
					<form role = "form" name = "nuevoClienteCtrl.formClienteNuevo">
						<div class = "form-body">
							<div class = "col-md-6">
								<h5 class = "form-section">
									<b>Información Básica</b>
								</h5>
								<div class = "form-group">
									<label>
										Razón Social
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-group input-group-lg">
										<input type = "text" class = "form-control"
										       placeholder = "Razón Social"
										       ng-model = "nuevoClienteCtrl.form.razonsocial"
										       required>
										<span class = "input-group-btn">
											<button class = "btn green" type = "button">
												<i class = "fa fa-check"></i>
											</button>
										</span>
									</div>
								</div>
								<div class = "form-group">
									<label>
										R.F.C.
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-group input-group-lg">
										<input type = "text" class = "form-control"
										       placeholder = "R.F.C."
										       ng-model = "nuevoClienteCtrl.form.rfc"
										       ui-mask = "*************"
										       ui-mask-placeholder
										       required>
										<span class = "input-group-btn">
											<button class = "btn green" type = "button">
												<i class = "fa fa-check"></i>
											</button>
										</span>
									</div>
								</div>
								<div class = "form-group">
									<label>
										Email
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-envelope"></i>
										<input type = "email" class = "form-control input-sm" placeholder = "Email" ng-model = "nuevoClienteCtrl.form.email" required>
									</div>
								</div>
								<div class = "form-group">
									<label>
										Teléfono
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-phone"></i>
										<input type = "text" class = "form-control input-sm"
										       placeholder = "Teléfono"
										       ng-model = "nuevoClienteCtrl.form.telefono"
										       ui-mask = "(999) 999-9999"
										       ui-mask-placeholder
										       required>
									</div>
								</div>
								<div class = "form-group">
									<label>
										Teléfono 2
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-phone"></i>
										<input type = "text" class = "form-control input-sm"
										       placeholder = "Teléfono 2"
										       ng-model = "nuevoClienteCtrl.form.telefono2"
										       ui-mask = "(999) 999-9999"
										       ui-mask-placeholder>
									</div>
								</div>
								<div class = "form-group">
									<label>Tipo de cliente</label>
									<div class = "mt-checkbox-inline">
										<div class = "mt-checkbox-inline">
											<label class = "mt-checkbox">
												<input type = "checkbox"
												       ng-model = "nuevoClienteCtrl.form.prospecto"
												       checked> Prospecto
												<span></span>
											</label>
											<label class = "mt-checkbox">
												<input type = "checkbox"
												       ng-model = "nuevoClienteCtrl.form.tipo"
												       checked> Distribuidor
												<span></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class = "col-md-6">
								<h5 class = "form-section">
									<b>Domicilio</b>
								</h5>
								<div class = "form-group">
									<label>
										Calle
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-map-marker"></i>
										<input type = "text" class = "form-control input-sm" placeholder = "Calle" ng-model = "nuevoClienteCtrl.form.calle">
									</div>
								</div>
								<div class = "form-group">
									<label>
										No. Exterior
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-hashtag"></i>
										<input type = "text" class = "form-control input-sm" placeholder = "No. Exterior" ng-model = "nuevoClienteCtrl.form.noexterior">
									</div>
								</div>
								<div class = "form-group">
									<label>
										No. Interior
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-hashtag"></i>
										<input type = "text" class = "form-control input-sm" placeholder = "No. Interior" ng-model = "nuevoClienteCtrl.form.nointerior">
									</div>
								</div>
								<div class = "form-group">
									<label>
										Colonia
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-map-marker"></i>
										<input type = "text" class = "form-control input-sm" placeholder = "Colonia" ng-model = "nuevoClienteCtrl.form.colonia">
									</div>
								</div>
								<div class = "form-group">
									<label>
										C.P.
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-map-marker"></i>
										<input type = "text" class = "form-control input-sm"
										       placeholder = "C.P."
										       ng-model = "nuevoClienteCtrl.form.cp"
										       ui-mask = "99999"
										       ui-mask-placeholder>
									</div>
								</div>
								<div class = "form-group">
									<label>
										Ciudad
										<span class = "required" aria-required = "true">*</span>
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-map-marker"></i>
										<input type = "text" class = "form-control input-sm" placeholder = "Ciudad" ng-model = "nuevoClienteCtrl.form.ciudad">
									</div>
								</div>
								<div class = "form-group">
									<label>
										Municipio
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-map-marker"></i>
										<input type = "text" class = "form-control input-sm" placeholder = "Municipio" ng-model = "nuevoClienteCtrl.form.municipio">
									</div>
								</div>
								<div class = "form-group">
									<label>
										Estado
										<span class = "required" aria-required = "true">*</span>
									</label>
									<select class = "form-control" ng-model = "nuevoClienteCtrl.form.estado" required>
										<option value = "Aguascalientes">Aguascalientes</option>
										<option value = "Baja California">Baja California</option>
										<option value = "Baja California Sur">Baja California Sur</option>
										<option value = "Campeche">Campeche</option>
										<option value = "Coahuila de Zaragoza">Coahuila</option>
										<option value = "Colima">Colima</option>
										<option value = "Chiapas">Chiapas</option>
										<option value = "Chihuahua">Chihuahua</option>
										<option value = "Distrito Federal">Distrito Federal</option>
										<option value = "Durango">Durango</option>
										<option value = "Guanajuato">Guanajuato</option>
										<option value = "Guerrero">Guerrero</option>
										<option value = "Hidalgo">Hidalgo</option>
										<option value = "Jalisco">Jalisco</option>
										<option value = "México">México</option>
										<option value = "Michoacán de Ocampo">Michoacán</option>
										<option value = "Morelos">Morelos</option>
										<option value = "Nayarit">Nayarit</option>
										<option value = "Nuevo León">Nuevo León</option>
										<option value = "Oaxaca">Oaxaca</option>
										<option value = "Puebla">Puebla</option>
										<option value = "Querétaro">Querétaro</option>
										<option value = "Quintana Roo">Quintana Roo</option>
										<option value = "San Luis Potosí">San Luis Potosí</option>
										<option value = "Sinaloa">Sinaloa</option>
										<option value = "Sonora">Sonora</option>
										<option value = "Tabasco">Tabasco</option>
										<option value = "Tamaulipas">Tamaulipas</option>
										<option value = "Tlaxcala">Tlaxcala</option>
										<option value = "Veracruz de Ignacio de la Llave">Veracruz</option>
										<option value = "Yucatán">Yucatán</option>
										<option value = "Zacatecas">Zacatecas</option>
									</select>
								</div>
								<div class = "form-group">
									<label>
										País
									</label>
									<div class = "input-icon input-icon-sm right">
										<i class = "fa fa-map-marker"></i>
										<input type = "text" class = "form-control input-sm" ng-init = "nuevoClienteCtrl.form.pais = 'México'" ng-model = "nuevoClienteCtrl.form.pais" readonly>
									</div>
								</div>
							</div>
							<div class = "clearfix"></div>
						</div>
						<div class = "form-actions right">
							<button class = "btn blue" ng-click = "nuevoClienteCtrl.guarda()">Guardar</button>
							<button type = "button" class = "btn default">Cancelar</button>
						</div>
					</form>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>

<!--<div class = "col-md-6">-->
								<!--<h5 class = "form-section">-->
									<!--<b>Acceso al sistema</b>-->
								<!--</h5>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Contraseña de acceso-->
										<!--<span class = "required" aria-required = "true">*</span>-->
									<!--</label>-->
									<!--<div class = "input-group input-group-lg">-->
										<!--<input type = "password" class = "form-control" placeholder = "Contraseña" required>-->
											<!--<span class = "input-group-btn">-->
											<!--<button class = "btn green" type = "button"><i class = "fa fa-magic"></i> Generar</button>-->
										<!--</span>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Confirma contraseña-->
										<!--<span class = "required" aria-required = "true">*</span>-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-lock"></i>-->
										<!--<input type = "password" class = "form-control input-sm" placeholder = "Confirma contraseña" required>-->
									<!--</div>-->
								<!--</div>-->

								<!--<h5 class = "form-section">-->
									<!--<b>Contácto de la empresa</b>-->
								<!--</h5>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Nombre(s)-->
										<!--<span class = "required" aria-required = "true">*</span>-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-user"></i>-->
										<!--<input type = "text" class = "form-control input-sm" placeholder = "Nombre(s)">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Apellido(s)-->
										<!--<span class = "required" aria-required = "true">*</span>-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-user"></i>-->
										<!--<input type = "text" class = "form-control input-sm" placeholder = "Apellido(s)">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Email del contácto-->
										<!--<span class = "required" aria-required = "true">*</span>-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-envelope"></i>-->
										<!--<input type = "email" class = "form-control input-sm" placeholder = "Email">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Teléfono-->
										<!--<span class = "required" aria-required = "true">*</span>-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-phone"></i>-->
										<!--<input type = "text" class = "form-control input-sm" placeholder = "Teléfono">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Extensión-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-phone"></i>-->
										<!--<input type = "text" class = "form-control input-sm" placeholder = "Extensión">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class = "form-group">-->
									<!--<label>-->
										<!--Puesto/Cargo-->
									<!--</label>-->
									<!--<div class = "input-icon input-icon-sm right">-->
										<!--<i class = "fa fa-certificate"></i>-->
										<!--<input type = "text" class = "form-control input-sm" placeholder = "Puesto/Cargo">-->
									<!--</div>-->
								<!--</div>-->
								<!--{{nuevoClienteCtrl.form | json}}-->
							<!--</div>-->