<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
	<div class = "page-toolbar">
		<div class = "btn-group pull-right">
			<button type = "button" class = "btn btn-fit-height grey-salt dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown" data-delay = "1000" data-close-others = "true"> Actions
				<i class = "fa fa-angle-down"></i>
			</button>
			<ul class = "dropdown-menu pull-right" role = "menu">
				<li>
					<a href = "#">
						<i class = "icon-bell"></i>
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-shield"></i> Another action
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-user"></i> Something else here
					</a>
				</li>
				<li class = "divider"> </li>
				<li>
					<a href = "#">
						<i class = "icon-bag"></i> Separated link
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-12">
		<div class = "alert alert-danger">
			<strong>¡Faltan datos por asignar!</strong>
			Antes de continuar, debes establecer fecha de inicio de la tarea, tiempo de duración aproximada y fecha de cierre tentativo. Haz clic <a href = "javascript:;" ng-click = "gestionTareaCtrl.modalAsignaFechas()" class = "alert-link">aquí</a> para hacerlo.
		</div>
		<div class = "alert alert-danger">
			<strong>¡Vas atrasado!</strong> La fecha tentativa de cierre del caso ya pasó, procura terminar la tarea lo más pronto posible.
		</div>
		<div class = "alert alert-info alert-dismissable">
			<button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"></button>
			<strong>Última tarea del caso. </strong> Esta es última tarea del caso por concluir, procura terminar dentro de tus fechas establecidas.
		</div>
	</div>
	<div class = "col-md-8">
		<div class = "portlet mt-element-ribbon light portlet-fit">
			<div class = "ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor bg-font-{{gestionTareaCtrl.tarea.estatus.class}} uppercase">
				<div class = "ribbon-sub ribbon-clip ribbon-right" ng-style = "{'background-color': gestionTareaCtrl.tarea.estatus.color}"></div>
				<b>{{gestionTareaCtrl.tarea.estatus.estatus}}</b>
			</div>
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Tarea </span>
					<span class = "caption-helper">Actividad a realizar</span>
				</div>
			</div>
			<div class = "portlet-body">
				<h4 class = "bold uppercase">{{gestionTareaCtrl.tarea.id+'.- '+gestionTareaCtrl.tarea.titulo}}</h4>
				<p class = "lead">{{gestionTareaCtrl.tarea.descripcion}}</p>
				<hr>
				<div class = "progress progress-striped active">
					<div class = "progress-bar progress-bar-success" role = "progressbar" aria-valuenow = "40" aria-valuemin = "0" aria-valuemax = "100" style = "width: 40%">
						<span class = "sr-only"> 40% Complete (success) </span>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-md-5">
			<div class = "portlet light">
				<div class = "portlet-title">
					<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Registro de tiempos</span>
					</div>
				</div>
				<div class = "portlet-body">
				</div>
			</div>
		</div>
		<div class = "col-md-7">
			<div class = "portlet light">
				<div class = "portlet-title">
					<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Bitácora de eventos</span>
					</div>
				</div>
				<div class = "portlet-body">
					<form role = "form">
						<div class = "form-body">
							<div class = "form-group">
								<textarea class = "form-control" rows = "3" placeholder = "Descripción de la nota"></textarea>
							</div>
						</div>
						<div class = "form-group">
							<div class = "mt-radio-inline" style = "padding: 0px">
								<label class = "mt-radio">
									<input type = "radio" name = "optionsRadios" id = "optionsRadios4" value = "option1" checked = ""> Pública
									<span></span>
								</label>
								<label class = "mt-radio">
									<input type = "radio" name = "optionsRadios" id = "optionsRadios5" value = "option2"> Privada
									<span></span>
								</label>
							</div>
						</div>
						<div class = "form-group">
							<input type = "file" id = "exampleInputFile1">
							<p class = "help-block"> Tamaño max. de archivo 5MB.  </p>
						</div>
					</form>
					<hr>
					<ul class = "nav nav-tabs">
						<li class = "active">
							<a href = "#todas" target = "_self" data-toggle = "tab"> Todas </a>
						</li>
						<li>
							<a href = "#publicas" target = "_self" data-toggle = "tab"> Públicas </a>
						</li>
						<li>
							<a href = "#privadas" target = "_self" data-toggle = "tab"> Privadas </a>
						</li>
					</ul>
					<div class = "tab-content">
						<div class = "tab-pane fade active in" id = "todas">
							<div class = "scroller" style = "max-height:800px" data-rail-visible = "1" data-rail-color = "yellow" data-handle-color = "#a1b2bd">
								<ul class = "list-group">
									<li class = "list-group-item">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit est in varius facilisis. Vivamus nec sem at ipsum pulvinar rhoncus. </p>
										<h6 class = "bold"><i class = "fa fa-calendar"></i> 20 de Septiembre del 2016 a las 1:33 PM</h6>
										<h6><span class = "label label-primary"> <b>Pública</b> </span></h6>
										<h6 class = "help-block"> <i class="fa fa-check-circle-o"></i> Visto por el cliente. </h6>
										<hr>
										<h6>Archivos adjuntos:</h6>
										<ul>
											<li> Lorem ipsum dolor sit amet </li>
										</ul>
									</li>
									<li class = "list-group-item">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit est in varius facilisis. Vivamus nec sem at ipsum pulvinar rhoncus. </p>
										<h6 class = "bold"><i class = "fa fa-calendar"></i> 20 de Septiembre del 2016 a las 1:33 PM</h6>
										<h6><span class = "label label-danger"> <b>Privada</b> </span></h6>
										<h6 class = "help-block"> <i class="fa fa-check-circle-o"></i> Visto por el líder. </h6>
										<hr>
										<h6>Archivos adjuntos:</h6>
										<ul>
											<li> Lorem ipsum dolor sit amet </li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class = "tab-pane fade" id = "publicas">
							<div class = "scroller" style = "max-height:800px" data-rail-visible = "1" data-rail-color = "yellow" data-handle-color = "#a1b2bd">
								<ul class = "list-group">
									<li class = "list-group-item">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit est in varius facilisis. Vivamus nec sem at ipsum pulvinar rhoncus. </p>
										<h6 class = "bold"><i class = "fa fa-calendar"></i> 20 de Septiembre del 2016 a las 1:33 PM</h6>
										<h6><span class = "label label-primary"> <b>Pública</b> </span></h6>
										<h6 class = "help-block"> <i class="fa fa-check-circle-o"></i> Visto por el cliente. </h6>
										<hr>
										<h6>Archivos adjuntos:</h6>
										<ul>
											<li> Lorem ipsum dolor sit amet </li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class = "tab-pane fade" id = "privadas">
							<div class = "scroller" style = "max-height:800px" data-rail-visible = "1" data-rail-color = "yellow" data-handle-color = "#a1b2bd">
								<ul class = "list-group">
									<li class = "list-group-item">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit est in varius facilisis. Vivamus nec sem at ipsum pulvinar rhoncus. </p>
										<h6 class = "bold"><i class = "fa fa-calendar"></i> 20 de Septiembre del 2016 a las 1:33 PM</h6>
										<h6><span class = "label label-danger"> <b>Privada</b> </span></h6>
										<h6 class = "help-block"> <i class="fa fa-check-circle-o"></i> Visto por el líder. </h6>
										<hr>
										<h6>Archivos adjuntos:</h6>
										<ul>
											<li> Lorem ipsum dolor sit amet </li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-md-4">
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Caso No. {{gestionTareaCtrl.caso.id}}</span>
				</div>
				<div class = "actions">
					<button class = "btn btn-circle btn-icon-only btn-default" ng-click = "gestionTareaCtrl.reloadCaso()">
						<i class = "fa fa-refresh"></i>
					</button>
					<a class = "btn btn-circle btn-icon-only btn-default fullscreen" href = "javascript:;" data-original-title = "" title = ""> </a>
				</div>
			</div>
			<div class = "portlet-body">
				<div class = "row">
					<div class = "col-md-12">
						<dt>Cliente</dt>
						<dd>{{gestionTareaCtrl.caso.cliente.razonsocial}}</dd>
						<br>
						<dt>Contacto</dt>
						<dd>{{gestionTareaCtrl.caso.cotizacion.contacto.nombre}}</dd>
						<dd>{{gestionTareaCtrl.caso.cotizacion.contacto.email}}</dd>
						<dd>{{gestionTareaCtrl.caso.cotizacion.contacto.telefono | telefono}}</dd>
					</div>
				</div>
				<br>
				<div class = "row">
					<div class = "col-md-4">
						<dt>Lider</dt>
						<dd>{{gestionTareaCtrl.caso.lider.nombre}}</dd>
					</div>
					<div class = "col-md-4">
						<dt>Avance</dt>
						<dd>{{gestionTareaCtrl.caso.avance}} %</dd>
					</div>
					<div class = "col-md-4">
						<dt>Estatus</dt>
						<span class = "badge bg-{{gestionTareaCtrl.caso.estatus.class}} bold"> {{gestionTareaCtrl.caso.estatus.estatus}} </span>
					</div>
				</div>
				<br>
				<div class = "row">
					<div class = "col-md-12">
						<dt>Fecha tentativa de cierre: </dt>
						<dd ng-if = "gestionTareaCtrl.caso.fechatentativacierre == null">Aún sin calcularse.</dd>
						<dd ng-if = "gestionTareaCtrl.caso.fechatentativacierre != null">{{gestionTareaCtrl.caso.lider.nombre}}</dd>
					</div>
				</div>
				<hr>
				<div class = "row">
					<div class = "col-md-12">
						<h5 class = "bold">Tareas:</h5>
						<ul class = "list-group">
							<li class = "list-group-item" ng-repeat = "tarea in gestionTareaCtrl.caso.tareas" ng-class = "{'bg-grey-steel bg-font-grey-steel': tarea.id == gestionTareaCtrl.tarea.id}">
								<b>{{tarea.titulo}}</b><br>
								 <span>{{tarea.ejecutivo.nombre}}</span>
								<span class = "badge bg-{{tarea.ejecutivo.class}}"> <b>{{(tarea.avance)}} %</b> </span>
							</li>
						</ul>
					</div>
				</div>
				<hr>
				<button class = "btn blue btn-block" ng-click = "gestionTareaCtrl.vistaCaso()"><b>Vista del caso</b></button>
			</div>
		</div>
	</div>
</div>

<script type = "text/ng-template" id = "modalAsignaFechas.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalAsignaFechas.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa fa-truck"></i> Nuevo producto </h4>
	</div>
	<div class = "modal-body form">
		<div class = "col-md-6">
			<form role = "form" name = "modalAsignaFechas.formFechas">
				<div class = "form-body">
					<div class = "form-group">
						<input type = "text" class = "form-control" datetime-picker = "dd MMM yyyy HH:mm" ng-model = "myDate" is-open = "isOpen"/>
						<span class = "input-group-btn">
							<button type = "button" class = "btn btn-default" ng-click = "openCalendar($event, prop)"><i class = "fa fa-calendar"></i></button>
						</span>
					</div>
				</div>
			</form>
			{{modalAsignaFechas.form | json}}
		</div>
		<div class = "col-md-6"></div>
		<div class = "clearfix"></div>
	</div>
	<div class = "modal-footer">
		<button class = "btn green-jungle btn-outline sbold uppercase"
		        ng-click = "modalAsignaFechas.guarda()"
		        ng-disabled = "!modalAsignaFechas.formFechas.$valid">
			Guardar
		</button>
		<button class = "btn grey-mint btn-outline" ng-click = "modalAsignaFechas.cancel()">Cancelar</button>
	</div>
</script>