<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
	<div class = "page-toolbar">
		<div class = "btn-group pull-right">
			<button type = "button" class = "btn btn-fit-height grey-salt dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown" data-delay = "1000" data-close-others = "true"> Actions
				<i class = "fa fa-angle-down"></i>
			</button>
			<ul class = "dropdown-menu pull-right" role = "menu">
				<li>
					<a href = "#">
						<i class = "icon-bell"></i>
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-shield"></i> Another action
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-user"></i> Something else here
					</a>
				</li>
				<li class = "divider"> </li>
				<li>
					<a href = "#">
						<i class = "icon-bag"></i> Separated link
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-3">
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Tools </span>
					<span class = "caption-helper">more samples...</span>
				</div>
				<div class = "tools">
					<a href = "" class = "collapse" data-original-title = "" title = ""> </a>
					<a href = "#portlet-config" data-toggle = "modal" class = "config" data-original-title = "" title = ""> </a>
					<a href = "" class = "reload" data-original-title = "" title = ""> </a>
					<a href = "" class = "fullscreen" data-original-title = "" title = ""> </a>
					<a href = "" class = "remove" data-original-title = "" title = ""> </a>
				</div>
			</div>
			<div class = "portlet-body">
				<h4>Heading text goes here...</h4>
			</div>
		</div>
	</div>
	<div class = "col-md-5">
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Tools </span>
					<span class = "caption-helper">more samples...</span>
				</div>
				<div class = "tools">
					<a href = "" class = "collapse" data-original-title = "" title = ""> </a>
					<a href = "#portlet-config" data-toggle = "modal" class = "config" data-original-title = "" title = ""> </a>
					<a href = "" class = "reload" data-original-title = "" title = ""> </a>
					<a href = "" class = "fullscreen" data-original-title = "" title = ""> </a>
					<a href = "" class = "remove" data-original-title = "" title = ""> </a>
				</div>
			</div>
			<div class = "portlet-body">
				<h4>Heading text goes here...</h4>
			</div>
		</div>
	</div>
	<div class = "col-md-4">
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "icon-puzzle font-grey-gallery"></i>
					<span class = "caption-subject bold font-grey-gallery uppercase"> Caso </span>
				</div>
				<div class = "tools">
					<a href = "" class = "collapse" data-original-title = "" title = ""> </a>
					<a href = "#portlet-config" data-toggle = "modal" class = "config" data-original-title = "" title = ""> </a>
					<a href = "" class = "reload" data-original-title = "" title = ""> </a>
					<a href = "" class = "fullscreen" data-original-title = "" title = ""> </a>
					<a href = "" class = "remove" data-original-title = "" title = ""> </a>
				</div>
			</div>
			<div class = "portlet-body">
				<dl>
					<dt>Lider</dt>
					<dd>{{gestionTareaCtrl.tarea.caso.lider.nombre}}</dd>
					<dd><i>{{gestionTareaCtrl.caso.cliente.rfc}}</i></dd>
					<br>
					<dt>Avance</dt>
				</dl>
				<hr>
				<button class = "btn blue btn-block" ng-click = "gestionTareaCtrl.vistaCaso()"><b>Detalles del caso</b></button>
			</div>
		</div>
	</div>
</div>