<h3 class = "page-title"> Nueva Cotización
	<small>blank page layout</small>
</h3>
<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
</div>

<div class = "row">
	<div class = "col-md-4">
		<!-- BEGIN Producto PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-truck font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Producto </span>
				</div>
			</div>
			<div class = "portlet-body">
				<form role = "form">
					<div class = "form-body">
						<div class = "form-group">
							<div class = "input-group input-group-lg">
								<input type = "text"
								       class = "form-control"
								       placeholder = "Producto"
								       ng-model = "nuevaCotizacionCtrl.porletProducto.producto.producto"
								       readonly>
								<span class = "input-group-btn">
									<button class = "btn yellow-casablanca" ng-click = "nuevaCotizacionCtrl.porletProducto.openModalProductos()">
										<i class = "fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletProducto.producto != null">
							<div class = "col-md-6">
								 <label>Precio</label>
                                                                <input type = "number"
                                                                       class = "form-control input-lg"
                                                                       placeholder = "Precio"
                                                                       ng-model = "nuevaCotizacionCtrl.porletProducto.producto.precio"
                                                                       min = "0"
                                                                       step = "10"
                                                                       pattern = "\d+(\.\d{2})?"
                                                                       required>
							</div>
							<div class = "col-md-6">
								 <label>Cantidad</label>
								<input type = "number"
								       class = "form-control input-lg"
								       placeholder = "Cantidad"
								       ng-model = "nuevaCotizacionCtrl.porletProducto.cantidad"
								       min = "1"
								       step = "1"
								       pattern = "\d+"
								       required>
							</div>
							<div class = "clearfix"></div>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletProducto.producto != null">
							<div class = "col-md-6">
								 <label>Descuento</label>
                                                                <div class = "input-group input-group-lg">
								<input type = "number"
								       class = "form-control"
								       placeholder = "Descuento"
								       pattern = "\d+(\.\d{2})?"
								       min="0"
								       ng-model = "nuevaCotizacionCtrl.porletProducto.cDescuento">
								<span class = "input-group-btn">
									<button class = "btn green" type = "button" ng-click = "nuevaCotizacionCtrl.porletProducto.modoDescuento()">
										<i class = "fa"
										   ng-class = "{'fa-percent': nuevaCotizacionCtrl.porletProducto.porcentaje, 'fa-dollar' : !nuevaCotizacionCtrl.porletProducto.porcentaje}"></i>
									</button>
								</span>
							</div>
							</div>
							<div class = "col-md-6">
								<div class = "form-group">
									<label>Impuesto</label>
										<div class = "input-group input-group-lg">
										<input
											type = "number"
											class = "form-control"
											placeholder = "Impuesto"
											aria-describedby = "sizing-addon1"
											ng-model = "nuevaCotizacionCtrl.porletProducto.impuesto">
										<span class = "input-group-addon" id = "sizing-addon1">%</span>
									</div>
								</div>
							</div>
							<div class = "clearfix"></div>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletProducto.producto != null">
	                                                <label>Observaciones</label>
	                                                <textarea class = "form-control"
	                                                          rows = "2"
	                                                          style = "resize: none"
	                                                          ng-model = "nuevaCotizacionCtrl.porletProducto.producto.descripcion">
	                                                </textarea>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletProducto.producto != null">
							 <div class = "row static-info">
								<div class = "col-md-8 name"> Unidad: </div>
								<div class = "col-md-4 value" ng-if = "nuevaCotizacionCtrl.porletProducto.cantidad == 1"> {{nuevaCotizacionCtrl.porletProducto.producto.unidad.unidad}} </div>
								 <div class = "col-md-4 value" ng-if = "nuevaCotizacionCtrl.porletProducto.cantidad != 1"> {{nuevaCotizacionCtrl.porletProducto.producto.unidad.plural}} </div>
							</div>
	                                                <div class = "row static-info">
								<div class = "col-md-8 name"> Subtotal: </div>
								<div class = "col-md-4 value"> $ {{nuevaCotizacionCtrl.porletProducto.subtotal  | number : 2}} </div>
							</div>
							<div class = "row static-info">
								<div class = "col-md-8 name"> Descuento: </div>
								<div class = "col-md-4 value"
								     ng-class = "{'font-red-thunderbird' : (nuevaCotizacionCtrl.porletProducto.descuento >= nuevaCotizacionCtrl.porletProducto.subtotal)}">
									$ {{nuevaCotizacionCtrl.porletProducto.descuento | number : 2}}
								</div>
							</div>
							<div class = "row static-info">
								<div class = "col-md-8 name"> I.V.A: </div>
								<div class = "col-md-4 value"> $ {{nuevaCotizacionCtrl.porletProducto.iva  | number : 2}} </div>
							</div>
							<div class = "row static-info">
								<div class = "col-md-8 name"> Total: </div>
								<div class = "col-md-4 value"
								     ng-class = "{'font-red-thunderbird' : (nuevaCotizacionCtrl.porletProducto.total == 0)}">
									$ {{nuevaCotizacionCtrl.porletProducto.total  | number : 2}}
								</div>
							</div>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletProducto.producto != null">
	                                                <button type = "button"
	                                                        class = "btn green-turquoise btn-sm btn-block"
	                                                        ng-click = "nuevaCotizacionCtrl.porletProducto.agregaProducto()">
								<i class = "fa fa-plus"></i>&nbsp;&nbsp; Añadir a cotización
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END Producto PORTLET-->
		
		<!-- BEGIN Total PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-dollar font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Total </span>
				</div>
				<div class = "actions">
					 <span class = "label bg-yellow-casablanca"><b> $  {{nuevaCotizacionCtrl.cotizacion.total | number: 2}}</b> </span>
				</div>
			</div>
			<div class = "portlet-body">
				<div class = "row static-info">
					<div class = "col-md-8 name"> Subtotal: </div>
					<div class = "col-md-4 value"> $  {{nuevaCotizacionCtrl.cotizacion.subtotal | number: 2}} </div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-8 name"> I.V.A.: </div>
					<div class = "col-md-4 value"> $ {{nuevaCotizacionCtrl.cotizacion.totalIVA | number: 2}} </div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-8 name"> Total: </div>
					<div class = "col-md-4 value"> $  {{nuevaCotizacionCtrl.cotizacion.total | number: 2}} </div>
				</div>
			</div>
		</div>
		<!-- END Total PORTLET-->
		
		<!-- BEGIN Cliente PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-user font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Cliente </span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
					<a class = "reload"
					   ng-click = "nuevaCotizacionCtrl.porletCliente.reloadData()"
					   ng-if = "nuevaCotizacionCtrl.cotizacion.cliente != null"></a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<form role = "form">
					<div class = "form-body">
						<div class = "form-group">
							<div class = "input-group input-group-sm">
								<input type = "text"
								       class = "form-control"
								       placeholder = "Cliente"
								       ng-model = "nuevaCotizacionCtrl.cotizacion.cliente.razonsocial"
								       readonly>
								<span class = "input-group-btn">
									<button class = "btn yellow-casablanca" ng-click = "nuevaCotizacionCtrl.porletCliente.openModalClientes()"><i class = "fa fa-search"></i></button>
								</span>
							</div>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletCliente.contactos.length > 0">
							<label>Contacto: </label>
							<select
								class = "form-control input-sm"
								ng-options = "contacto.nombre +' '+contacto.apellido for contacto in nuevaCotizacionCtrl.porletCliente.contactos"
								ng-model = "nuevaCotizacionCtrl.cotizacion.contacto"
								required>
							</select>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.cotizacion.contacto != null">
							<label>Email destino: </label>
							<input type = "email"
							       class = "form-control input-sm"
							       placeholder = "input-sm"
							       ng-model = "nuevaCotizacionCtrl.cotizacion.contacto.email"
							       required>
						</div>
						<div class = "form-group" ng-if = "nuevaCotizacionCtrl.cotizacion.cliente != null">
							<button type = "button"
							        class = "btn green-turquoise btn-sm btn-block"
							        ng-click = "nuevaCotizacionCtrl.porletCliente.openModalNuevoCliente(nuevaCotizacionCtrl.cotizacion.cliente.id)">
								<i class = "fa fa-plus"></i>&nbsp;&nbsp;Nuevo contacto a <b>{{nuevaCotizacionCtrl.cotizacion.cliente.razonsocial}}</b>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END Cliente PORTLET-->
		
		<!-- BEGIN Vencimiento PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-calendar font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Vencimiento </span>
					<span class = "caption-helper">Fecha de vencimiento</span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<div class = "form-group">
					<div class = "input-group input-group-sm">
						<input type = "text"
						       class = "form-control"
						       placeholder = "Vencimiento"
						       uib-datepicker-popup = "{{nuevaCotizacionCtrl.porletVencimiento.format}}"
						       ng-model = "nuevaCotizacionCtrl.cotizacion.vencimiento"
						       is-open = "nuevaCotizacionCtrl.porletVencimiento.popup.opened"
						       datepicker-options = "nuevaCotizacionCtrl.porletVencimiento.dateOptions"
						       ng-required = "true"
						       close-text = "Cerrar"
						       alt-input-formats = "nuevaCotizacionCtrl.porletVencimiento.altInputFormats"
						       readonly>
						<span class = "input-group-btn">
							<button class = "btn yellow-casablanca" ng-click = "nuevaCotizacionCtrl.porletVencimiento.popupOpen()"><i class = "fa fa-calendar"></i></button>
						</span>
					</div>
				</div>

				<h4 ng-if = "nuevaCotizacionCtrl.cotizacion.vencimiento != null">
					<span class = "label label-danger">
						<b>La cotización vencerá <span am-time-ago = "nuevaCotizacionCtrl.cotizacion.vencimiento"></span> si no es pagada.</b>
					</span>
				</h4>
				<div class = "clearfix"></div>
			</div>
		</div>
		<!-- END Vencimiento PORTLET-->
		
		<!-- BEGIN Bancos PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-bank font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Bancos </span>
					<span class = "caption-helper">Selecciona los bancos</span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
					<a href = "" class = "reload"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<div class = "form-group" ng-if = "nuevaCotizacionCtrl.porletBancos.bancos.length > 0">
					<div class = "mt-checkbox-list">
						<label class = "mt-checkbox" ng-repeat = "banco in nuevaCotizacionCtrl.porletBancos.bancos">
							{{banco.banco}} | {{banco.titular}} | CTA: <b>{{banco.cta}}</b>
							<input type = "checkbox" data-checklist-model = "nuevaCotizacionCtrl.cotizacion.bancos" data-checklist-value = "banco"/>
							<span></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- END Bancos PORTLET-->
		
		<!-- BEGIN CxC PORTLET-->
		<div class = "portlet light" ng-show = "!nuevaCotizacionCtrl.cotizacion.cxc">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-dollar font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Cuenta x Cobrar </span>
					<span class = "caption-helper">Habilita cotización <b>CxC</b></span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<div class = "form-group">
					<div class = "input-group input-group-lg">
						<input type = "password" class = "form-control" placeholder = "Contraseña" ng-model = "nuevaCotizacionCtrl.porletCxc.password">
						<span class = "input-group-btn">
							<button class = "btn yellow-casablanca" type = "button" ng-click = "nuevaCotizacionCtrl.porletCxc.verifica()">
								<i class = "fa fa-check"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- END CxC PORTLET-->
	</div>
	<div class = "col-md-8">
		<div class = "alert alert-danger" ng-show = "nuevaCotizacionCtrl.cotizacion.cxc">
			<strong>Nota: </strong> Haz indicado que está cotización es <b>Cuenta por Cobrar</b>, así que se abrirá un nuevo caso al envíar la cotización. Para cancelar haz clic
			<a ng-click = "nuevaCotizacionCtrl.porletCxc.cancelar()" class = "alert-link"> aquí. </a>
		</div>
		
		<!-- BEGIN Lista Productos PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-bars font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Lista de Productos </span>
				</div>
				<div class = "actions">
					<a class = "btn btn-circle btn-icon-only btn-default fullscreen" href = "javascript:;" data-original-title = "" title = ""></a>
				</div>
			</div>
			<div class = "portlet-body">
				<h3 ng-show = "nuevaCotizacionCtrl.cotizacion.productos.length == 0">No hay productos en la cotización.</h3>
				<div class = "note bg-grey-cararra bg-font-grey-cararra" ng-repeat = "producto in nuevaCotizacionCtrl.cotizacion.productos">
					<button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true" ng-click = "nuevaCotizacionCtrl.porletProducto.eliminaProducto($index)"></button>
                                        <h3 class = "block"><b> {{producto.codigo}}</b> | <b> {{producto.producto}} </b>| <span class = "label label-success bold"> $ {{producto.total | number:2}} </span></h3>
                                        <h4> {{producto.descripcion}} </h4>
					<span>Unidad: <b> {{producto.unidad.unidad}} </b>
						| Precio Unitario: <b> $ {{producto.precio | number:2}} </b>
						| Cantidad: <b>{{producto.cantidad}} </b>
						| Subtotal: <b> $ {{producto.subtotal | number:2}} </b>
						| Descuento: <b> $ {{producto.descuento | number:2}}</b>
						| I.V.A.: <b> $ {{producto.iva | number:2}} </b>
					</span>
				</div>
			</div>
		</div>
		<!-- END Lista Productos PORTLET-->
		
		<!-- BEGIN Lista Revision y envio PORTLET-->
		<div class = "portlet light" ng-show = "nuevaCotizacionCtrl.cotizacion.enviar">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-check font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Revisión y envío </span>
				</div>
				<div class = "actions">
					<a class = "btn btn-circle btn-icon-only btn-default" href = "javascript:;" data-original-title = "Vista Previa" title = "Vista Previa">
						<i class = "fa fa-file-pdf-o"></i>
					</a>
				</div>
			</div>
			<div class = "portlet-body">
				<div class = "col-md-6">
					<h4>Cliente</h4>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Razón Social: </div>
						<div class = "col-md-8 value">  {{nuevaCotizacionCtrl.cotizacion.cliente.razonsocial}} </div>
					</div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> R.F.C: </div>
						<div class = "col-md-8 value">  {{nuevaCotizacionCtrl.cotizacion.cliente.rfc}} </div>
					</div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Tipo: </div>
						<div class = "col-md-8 value">
							<span class = "badge badge-primary badge-roundless" ng-show = "!nuevaCotizacionCtrl.cotizacion.cliente.prospecto">Normal</span>
							<span class = "badge bg-red-mint bg-font-red-mint badge-roundless" ng-show = "nuevaCotizacionCtrl.cotizacion.cliente.prospecto"><b>Prospecto</b></span>
							
							<span class = "badge badge-primary badge-roundless" ng-show = "!nuevaCotizacionCtrl.cotizacion.cliente.distribuidor">Normal</span>
							<span class = "badge bg-yellow-casablanca bg-font-yellow-casablanca badge-roundless" ng-show = "nuevaCotizacionCtrl.cotizacion.cliente.distribuidor"><b>Distribuidor</b></span>
						</div>
					</div>
					<h4>Contacto</h4>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Nombre: </div>
						<div class = "col-md-8 value">  {{nuevaCotizacionCtrl.cotizacion.contacto.nombre +' '+nuevaCotizacionCtrl.cotizacion.contacto.apellido}} </div>
					</div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Email: </div>
						<div class = "col-md-8 value">  {{nuevaCotizacionCtrl.cotizacion.contacto.email}} </div>
					</div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Teléfono: </div>
						<div class = "col-md-8 value">  {{nuevaCotizacionCtrl.cotizacion.contacto.telefono | telefono}} </div>
					</div>
				</div>
				<div class = "col-md-6">
					<h4>Fecha de vencimiento</h4>
					<div class = "row static-info">
						<div class = "col-md-12 value">  {{nuevaCotizacionCtrl.cotizacion.vencimiento | amDateFormat: 'DD / MMMM / YYYY' }} </div>
					</div>
					<h4>Bancos</h4>
					<div class = "row static-info">
						<div class = "col-md-12 value" ng-repeat = "banco in nuevaCotizacionCtrl.cotizacion.bancos">
							{{banco.banco }} | Sucursal: {{banco.sucursal}} | Cta: {{banco.cta}}
						</div>
					</div>
					<div class = "row static-info" ng-if = "nuevaCotizacionCtrl.cotizacion.cxc">
						<h4><b><span class = "label label-danger"> Cuenta por Cobrar </span></b></h4>
					</div>
				</div>
				
				<div class = "col-md-12">
					<hr>
					<button class = "btn btn-lg yellow-casablanca btn-block uppercase bold" ng-click = "nuevaCotizacionCtrl.porletRevision.envia()">Enviar Cotización</button>
				</div>
				<div class = "clearfix"></div>
			</div>
		</div>
		<!-- END Lista Revision y envio PORTLET-->
	</div>
</div>

<script type = "text/ng-template" id = "modalProductos.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "productosCotizacion.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa fa-user"></i> Cliente </h4>
	</div>
	<div class = "modal-body">
		<table id = "tableProductos"
		       datatable = ""
		       dt-options = "productosCotizacion.tableProductos.dtOptions"
		       dt-columns = "productosCotizacion.tableProductos.dtColumns"
		       dt-instance = "productosCotizacion.tableProductos.dtInstance"
		       class = "table table-hover table-light">
		</table>
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "productosCotizacion.cancel()">Cancelar</button>
	</div>
</script>

<script type = "text/ng-template" id = "modalClientes.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "clientesCotizacion.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa fa-user"></i> Cliente </h4>
	</div>
	<div class = "modal-body">
		<table id = "tableClientes"
		       datatable = ""
		       dt-options = "clientesCotizacion.tableClientes.dtOptions"
		       dt-columns = "clientesCotizacion.tableClientes.dtColumns"
		       dt-instance = "clientesCotizacion.tableClientes.dtInstance"
		       class = "table table-hover table-light">
		</table>
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "clientesCotizacion.cancel()">Cancelar</button>
	</div>
</script>