<h3 class = "page-title"> Nueva Cotización
	<small>blank page layout</small>
</h3>
<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
</div>

<div class = "row">
	<div class = "col-md-4">
		<!-- BEGIN Total PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-dollar font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Total </span>
				</div>
				<div class = "actions">
					 <span class = "label bg-yellow-casablanca"><b> $1,300.00</b> </span>
				</div>
			</div>
			<div class = "portlet-body">
				<div class = "row static-info">
					<div class = "col-md-9 name"> SubTotal: </div>
					<div class = "col-md-3 value"> $0.0 </div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-9 name"> I.V.A.: </div>
					<div class = "col-md-3 value"> $0.0 </div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-9 name"> Total.: </div>
					<div class = "col-md-3 value"> $0.0 </div>
				</div>
			</div>
		</div>
		<!-- END Total PORTLET-->

		<!-- BEGIN Cliente PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-user font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Cliente </span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
					<a href = "" class = "reload"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<!--<pre>Model: {{asyncSelected | json}}</pre>-->
				<!--<input type = "text" ng-model = "asyncSelected"-->
				<!--placeholder = "Locations loaded via $http"-->
				<!--uib-typeahead = "address for address in getLocation($viewValue)"-->
				<!--typeahead-loading = "loadingLocations"-->
				<!--typeahead-no-results = "noResults"-->
				<!--class = "form-control">-->
				<!--<i ng-show = "loadingLocations" class = "glyphicon glyphicon-refresh"></i>-->
				<!--<div ng-show = "noResults">-->
				<!--<i class = "glyphicon glyphicon-remove"></i> No Results Found-->
				<!--</div>-->

				<div class = "form-group">
					<label>Small Input Default Group</label>
					<div class = "input-group input-group-sm">
						<input type = "text" class = "form-control" placeholder = "Cliente">
						<span class = "input-group-btn">
							<button class = "btn yellow-casablanca" ng-click = "nuevaCotizacionCtrl.openModalClientes()"><i class = "fa fa-user"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- END Cliente PORTLET-->

		<!-- BEGIN Cotizacion PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "icon-paper-plane font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Cotización </span>
					<span class = "caption-helper">Datos de la cotización</span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
					<a href = "" class = "reload"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<div class = "row static-info">
					<div class = "col-md-4 name"> Fecha: </div>
					<div class = "col-md-8 value"> 22 de Septiembre del 2016 </div>
				</div>
			</div>
		</div>
		<!-- END Cotizacion PORTLET-->

		<!-- BEGIN Bancos PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-bank font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Bancos </span>
					<span class = "caption-helper">Selecciona los bancos</span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
					<a href = "" class = "reload"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<div class = "form-group">
					<div class = "mt-checkbox-list">
						<label class = "mt-checkbox"> Santander (<b>Cta: KJSDHA90213</b>)
							<input type = "checkbox" value = "1" name = "test"/>
							<span></span>
						</label>
						<label class = "mt-checkbox"> Banemex (<b>Cta: 0001237123812</b>)
							<input type = "checkbox" value = "1" name = "test"/>
							<span></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- END Bancos PORTLET-->

		<!-- BEGIN CxC PORTLET-->
		<div class = "portlet light">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-dollar font-yellow-casablanca"></i>
					<span class = "caption-subject bold font-yellow-casablanca uppercase"> Cuenta x Cobrar </span>
					<span class = "caption-helper">Habilita cotización <b>CxC</b></span>
				</div>
				<div class = "tools">
					<a href = "" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<div class = "form-group">
					<div class = "input-group input-group-lg">
						<input type = "password" class = "form-control" placeholder = "Contraseña">
						<span class = "input-group-btn">
							<button class = "btn yellow-casablanca" type = "button"><i class = "fa fa-check"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- END CxC PORTLET-->
	</div>
	<div class = "col-md-8">

	</div>
</div>

<script type = "text/ng-template" id = "modalClientes.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "clientesCotizacion.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa fa-user"></i> Cliente </h4>
	</div>
	<div class = "modal-body">
		<!--{{clientesCotizacion.clientes | json}}-->
		<table id = "tableClientes" datatable = ""
		       dt-options = "clientesCotizacion.tableClientes.dtOptions"
		       dt-columns = "clientesCotizacion.tableClientes.dtColumns"
		       dt-instance = "clientesCotizacion.tableClientes.dtInstance"
		       class = "table table-striped table-bordered table-hover">
		</table>
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "clientesCotizacion.boton()">Cancelar</button>
	</div>
</script>