/* here you can put your own css to customize and override the theme */
.login {
    background-color: #fff
}

div[ui-view].ng-enter {
    -webkit-animation: fadeInUp .8s;
    animation: fadeInUp .8s;
}

div[ui-view].ng-leave {
}

.form-group.ng-enter {
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
}

.form-group.ng-leave {
    -webkit-animation: fadeOut .8s;
    animation: fadeOut .8s;
}

.ng-hide-remove {
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
}

.ng-hide-add {
    -webkit-animation: fadeOut .4s;
    animation: fadeOut .4s;
    display: block !important;
}

/*To do tasklist*/
.todo-tasklist-item {
    background: #FAFAFA none repeat scroll 0 0;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 20px;
}

div .todo-tasklist-item:hover {
    background-color: #FAFAFA;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.05);
    cursor: default;
}

/*Gestion tarea*/
.dashboard-stat2 {
    padding: 15px 15px 10px;
}