<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
	<div class = "page-toolbar">
		<div class = "btn-group pull-right">
			<button type = "button" class = "btn btn-fit-height grey-salt dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown" data-delay = "1000" data-close-others = "true"> Actions
				<i class = "fa fa-angle-down"></i>
			</button>
			<ul class = "dropdown-menu pull-right" role = "menu">
				<li>
					<a href = "#">
						<i class = "icon-bell"></i>
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-shield"></i> Another action
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-user"></i> Something else here
					</a>
				</li>
				<li class = "divider"> </li>
				<li>
					<a href = "#">
						<i class = "icon-bag"></i> Separated link
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-12">
		<div class = "alert alert-block alert-danger fade in">
			<h4 class = "alert-heading">Se te ha asignado este nuevo caso.</h4>
			<p> Debes de aceptar ser líder de este caso antes de continuar o reasginar el caso a otro ejecutivo. </p>
			<br>
			<p>
			    <button type = "button" class = "btn green-meadow"><b>Aceptar caso</b></button>
			    <button type = "button" class = "btn red-sunglo"><b>Reasginar caso</b></button>
			</p>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Detalles cotización</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand" data-original-title = "Abrir/Cerrar" title = "Abrir/Cerrar"></a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<dl ng-repeat = "producto in gestionCasosCtrl.caso.cotizacion.productos">
					<dt>{{($index+1)+'. '+producto.nombre}}</dt>
					<dd ng-if = "producto.descripcion != ''">{{producto.descripcion}}</dd>
				</dl>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Cliente</span>
				</div>
			</div>
			<div class = "portlet-body">
				<dl>
					<dt>Cliente</dt>
					<dd>{{gestionCasosCtrl.caso.cliente.razonsocial}}</dd>
					<dd><i>{{gestionCasosCtrl.caso.cliente.rfc}}</i></dd>
					<br>
					<dt>Contacto</dt>
					<dd>{{gestionCasosCtrl.caso.cotizacion.contacto.nombre}}</dd>
					<dd>{{gestionCasosCtrl.caso.cotizacion.contacto.email}}</dd>
					<dd>{{gestionCasosCtrl.caso.cotizacion.contacto.telefono | telefono}}</dd>
				</dl>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-yellow-crusta"></i>
					<span class = "caption-subject font-yellow-crusta bold uppercase">Póliza</span>
				</div>
			</div>
			<div class = "portlet-body">
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-refresh font-red-thunderbird"></i>
					<span class = "caption-subject font-red-thunderbird bold uppercase">Reasginar caso</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<dl ng-repeat = "producto in gestionCasosCtrl.caso.cotizacion.productos">
					<dt>{{($index+1)+'. '+producto.nombre}}</dt>
					<dd ng-if = "producto.descripcion != ''">{{producto.descripcion}}</dd>
				</dl>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-exchange font-red-thunderbird"></i>
					<span class = "caption-subject font-red-thunderbird bold uppercase">Estatus del caso</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
			</div>
		</div>
	</div>
	<div class = "col-md-5">
		<div class = "todo-content">
			<div class = "portlet light ">
				<!-- PROJECT HEAD -->
				<div class = "portlet-title">
					<div class = "caption">
						<i class = " icon-layers font-green"></i>
						<span class = "caption-subject font-green bold uppercase">Tareas</span>
					</div>
					<div class = "actions">
						<a class = "btn btn-circle green-jungle" ng-click = "gestionCasosCtrl.nuevaTarea(gestionCasosCtrl.caso.id)">
							<i class = "fa fa-plus"></i> <b>Nueva tarea</b>
						</a>
						<a class = "btn btn-circle blue-steel" ng-click = "gestionCasosCtrl.modalDistribucionTareas()">
							<i class = "fa fa-pie-chart"></i> <b>Distribución de tareas</b>
						</a>
						<a class = "btn btn-circle btn-icon-only btn-default" href = "javascript:;" data-original-title = "Recargar" title = "Recargar" ng-click = "gestionCasosCtrl.reloadTareas()">
							<i class = "fa fa-refresh"></i>
						</a>
						<a class = "btn btn-circle btn-icon-only btn-default fullscreen" href = "javascript:;" data-original-title = "Pantalla Completa" title = "Pantalla Completa"></a>
					</div>
				</div>
				<!-- end PROJECT HEAD -->
				<div class = "portlet-body">
					<div class = "row">
						<div class = "col-md-12">
							<h3 ng-if = "gestionCasosCtrl.caso.tareas.length == 0">Empieza a asginar tareas a los ejecutivos.</h3>
							<div class = "todo-tasklist">
								<div class = "todo-tasklist-item mt-element-ribbon" ng-repeat = "tarea in gestionCasosCtrl.caso.tareas" ng-style = "{'border-left': '4px solid '+tarea.ejecutivo.color}">
									<div class = "ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-round ribbon-border-dash-hor bg-font-{{tarea.estatus.class}} uppercase">
										<div class = "ribbon-sub ribbon-clip ribbon-right" ng-style = "{'background-color': tarea.estatus.color}"></div>
										<b>{{tarea.estatus.estatus}}</b>
									</div>
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar4.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title">{{tarea.ejecutivo.nombre}}</div>
									<div class = "todo-tasklist-item-text"><b>{{tarea.titulo}}</b></div>
									<div class = "todo-tasklist-item-text"> {{tarea.descripcion}} </div>
									<br>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-calendar"></i> <b>Inicio programado: </b>
										<span ng-if = "tarea.fecha_inicio == null"> <i>Sin definir por {{tarea.ejecutivo.nombre}}</i> </span>
										<span ng-if = "tarea.fecha_inicio != null">
											{{tarea.fecha_inicio | amFromUnix | amDateFormat:'DD[/]MMMM[/]YYYY [a las] hh:mm A'}}
										</span>
									</div>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-calendar"></i> <b>Cierre tentativo: </b>
										<span ng-if = "tarea.fecha_tentativa_cierre == null"> <i>Sin definir por {{tarea.ejecutivo.nombre}}</i> </span>
										<span ng-if = "tarea.fecha_tentativa_cierre != null">
											{{tarea.fecha_tentativa_cierre | amFromUnix | amDateFormat:'DD[/]MMMM[/]YYYY [a las] hh:mm A'}}
										</span>
									</div>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-hourglass-start"></i> <b>Duración estimada:</b>
										<!--<span>4:30 horas.</span>-->
										<span ng-if = "tarea.duracion_minutos == 0"> <i>Sin definir por {{tarea.ejecutivo.nombre}}</i> </span>
										<span ng-if = "tarea.duracion_minutos != 0">
											{{ (tarea.duracion_minutos<60) ?
												(tarea.duracion_minutos) + ' minutos' : (tarea.duracion_minutos%60==0) ?
												(tarea.duracion_minutos-tarea.duracion_minutos%60)/60 + ':00 horas' :
												((tarea.duracion_minutos%60)/60 + ':' + tarea.duracion_minutos%60 + ' horas')
											}}
										</span>
									</div>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-clock-o"></i> <b>Tiempo:</b> 0 </div>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-comment"></i> <b>Privados:</b> {{tarea.notas.privadas.length}} mensajes </div>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-comment-o"></i> <b>Públicos:</b> {{tarea.notas.publicas.length}} mensajes </div>
									<hr>
									<div class = "todo-tasklist-controls">
										<div class = "todo-tasklist-item-text"><b>Avance:</b> {{tarea.avance}}%</div>
										<div class = "progress progress-striped active">
											<div class = "progress-bar {{tarea.ejecutivo.class}}" role = "progressbar" aria-valuenow = "{{tarea.avance}}" aria-valuemin = "0" aria-valuemax = "100" style = "width: {{tarea.avance}}%">
												<span class = "sr-only"> {{tarea.avance}}% Complete</span>
											</div>
										</div>
									</div>
									<hr>
									<div class = "todo-tasklist-controls">
										<button type = "button" class = "btn green btn-xs" ng-click = "gestionCasosCtrl.detalleTarea()">Ver detalles</button>
										<button type = "button" class = "btn green btn-xs" ng-click = "gestionCasosCtrl.editaTarea()">Editar</button>
									</div>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-md-4">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Resumen</span>
				</div>
			</div>
			<div class = "portlet-body">
				
				<h4>Estatus del caso:</h4>
				<!--<span class = "label {{gestionCasosCtrl.caso.estatus.class}} col-md-12"> {{gestionCasosCtrl.caso.estatus.estatus}} </span>-->
				<div class = "btn {{gestionCasosCtrl.caso.estatus.class}} btn-block" style = "cursor:default;"> <b class = "uppercase">{{gestionCasosCtrl.caso.estatus.estatus}}</b></div>
				
				<hr>
				
				<div class = "alert alert-warning" ng-if = "gestionCasosCtrl.caso.fechatentativacierre == null">
                                       <i class = "fa fa-warning"></i>  <strong> Aún no se tiene el cálculo tentativo de cierre del caso.</strong>
				</div>
				
				<div class = "alert alert-info" ng-if = "gestionCasosCtrl.caso.fechatentativacierre != null">
					<strong>En tiempo para terminar a la fecha tentativa.</strong>
				</div>
				
				<h5 ng-if = "gestionCasosCtrl.caso.tareas.length == 0">Avance general: <b>No se han asignado tareas.</b></h5>
				<h5 ng-if = "gestionCasosCtrl.caso.tareas.length != 0">Avance general: <b>{{gestionCasosCtrl.calculoAvanceGeneral() | number:0}} % del caso se ha realizado.</b></h5>
				<div class = "progress" ng-if = "gestionCasosCtrl.caso.tareas.length != 0">
					<div class = "progress-bar bg-{{tarea.ejecutivo.class}}"
					     ng-style = "{width: (tarea.avance/gestionCasosCtrl.caso.tareas.length)+'%'}"
					     ng-repeat = "tarea in gestionCasosCtrl.caso.tareas">
						<span class = "sr-only"> {{(tarea.avance/gestionCasosCtrl.caso.tareas.length)}} % Completado </span>
					</div>
				</div>
				
				<ul class = "list-group">
					<li class = "list-group-item" ng-repeat = "tarea in gestionCasosCtrl.caso.tareas">
						<b>{{tarea.ejecutivo.nombre}}</b><br>
						 <span>{{tarea.titulo}}</span>
						<span class = "badge bg-{{tarea.ejecutivo.class}}"> <b>{{(tarea.avance)}} %</b> </span>
					</li>
				</ul>
			</div>
		</div>
		<!-- BEGIN PORTLET-->
		<div class = "portlet light portlet-fit">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-comments font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Mensajes</span>
				</div>
			</div>
			<div class = "portlet-body" id = "chats">
				<div class = "scroller" style = "height: 300px;" data-always-visible = "1" data-rail-visible1 = "1">
					<ul class = "chats">
						<li class = "out">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar2.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Lisa Wong </a>
								<span class = "datetime"> at 20:11 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "out">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar2.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Lisa Wong </a>
								<span class = "datetime"> at 20:11 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "in">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar1.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Bob Nilson </a>
								<span class = "datetime"> at 20:30 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "in">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar1.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Bob Nilson </a>
								<span class = "datetime"> at 20:30 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "out">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar3.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Richard Doe </a>
								<span class = "datetime"> at 20:33 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "in">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar3.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Richard Doe </a>
								<span class = "datetime"> at 20:35 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "out">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar1.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Bob Nilson </a>
								<span class = "datetime"> at 20:40 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "in">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar3.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Richard Doe </a>
								<span class = "datetime"> at 20:40 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
							</div>
						</li>
						<li class = "out">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar1.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<a href = "javascript:;" class = "name"> Bob Nilson </a>
								<span class = "datetime"> at 20:54 </span>
								<span class = "body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet. </span>
							</div>
						</li>
					</ul>
				</div>
				<div class = "chat-form">
					<div class = "input-cont">
						<input class = "form-control" type = "text" placeholder = "Escribe aquí tu mensaje."/>
					</div>
					<div class = "btn-cont">
						<span class = "arrow"> </span>
						<a href = "" class = "btn blue icn-only">
							<i class = "fa fa-check icon-white"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>

<script type = "text/ng-template" id = "modalNuevaTarea.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalNuevaTarea.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Nueva tarea </h4>
	</div>
	<div class = "modal-body">
		<form name = "modalNuevaTarea.tareaForm" class = "form-horizontal">
			<!-- TASK HEAD -->
			<div class = "form">
				<!-- TASK TAGS -->
				<div class = "form-group">
					<div class = "col-md-12">
						<label for = "ejecutivo">Ejecutivo:</label>
						<select
							id = "ejecutivo"
							class = "form-control input-sm"
							ng-options = "ejecutivo.nombre +' '+ejecutivo.apellido + ' | '+ ejecutivo.departamento.area for ejecutivo in modalNuevaTarea.ejecutivos"
							ng-model = "modalNuevaTarea.tarea.ejecutivo"
							required>
						</select>
					</div>
				</div>
				<!-- TASK TAGS -->
				<!-- TASK TITLE -->
				<div class = "form-group">
					<div class = "col-md-12">
						<label for = "titulo">Título de la tarea:</label>
						<input type = "text" id = "titulo" class = "form-control input-lg" ng-model = "modalNuevaTarea.tarea.titulo" required>
					</div>
				</div>
				<!-- TASK DESC -->
				<div class = "form-group">
					<div class = "col-md-12">
						<label for = "descripcion">Descripción:</label>
						<textarea id = "descripcion" class = "form-control" rows = "4" ng-model = "modalNuevaTarea.tarea.descripcion" required></textarea>
					</div>
				</div>
				<!-- END TASK DESC -->
			</div>
		</form>
	</div>
	<div class = "modal-footer">
		<button type = "button" class = "btn red-sunglo" ng-disabled = "!modalNuevaTarea.tareaForm.$valid" ng-click = "modalNuevaTarea.guarda()">Asignar Tarea</button>
		<button class = "btn grey-mint btn-outline" ng-click = "modalNuevaTarea.cancel()">Cerrar</button>
	</div>
</script>

<script type = "text/ng-template" id = "modalGestionTareas.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalDistribucionTareas.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Distribución de tareas </h4>
	</div>
	<div class = "modal-body">
		
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "modalDistribucionTareas.cancel()">Cerrar</button>
	</div>
</script>

<script type = "text/ng-template" id = "modalDetallesTarea.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalDetalleTareas.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Tarea No.  </h4>
	</div>
	<div class = "modal-body">
		
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "modalDetalleTareas.cancel()">Cerrar</button>
	</div>
</script>

<script type = "text/ng-template" id = "modalEditaTarea.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalEditaTareas.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Tarea No. </h4>
	</div>
	<div class = "modal-body">
		
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "modalEditaTareas.cancel()">Cerrar</button>
	</div>
</script>