<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
	<div class = "page-toolbar">
		<div class = "btn-group pull-right">
			<button type = "button" class = "btn btn-fit-height grey-salt dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown" data-delay = "1000" data-close-others = "true"> Actions
				<i class = "fa fa-angle-down"></i>
			</button>
			<ul class = "dropdown-menu pull-right" role = "menu">
				<li>
					<a href = "#">
						<i class = "icon-bell"></i>
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-shield"></i> Another action
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-user"></i> Something else here
					</a>
				</li>
				<li class = "divider"> </li>
				<li>
					<a href = "#">
						<i class = "icon-bag"></i> Separated link
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class = "row">
	<div class = "col-md-12">
		<div class = "alert bg-yellow-saffron bg-font-yellow-saffron" ng-show = "gestionCasosCtrl.avisos.asignaCaso()">
			<h4 class = "alert-heading bold">Se te ha asignado este nuevo caso.</h4>
			<p> Puedes aceptar el caso asginando tareas o reasignar el caso a otro ejecutivo. </p>
			<br>
			<p>
			    <button type = "button" class = "btn red-sunglo">
				    <b><i class = "fa fa-refresh"></i> Reasignar caso</b>
			    </button>
			</p>
		</div>
		<div class = "alert bg-yellow-saffron bg-font-yellow-saffron" ng-show = "gestionCasosCtrl.avisos.reasignaCaso() && gestionCasosCtrl.validacionesVista.esLider()">
			<h4 class = "alert-heading bold">Se te ha reasignado este caso.</h4>
			<p>El ejecutivo <b>{{gestionCasosCtrl.caso.reasginaciones[0].anterior.nombre}}</b> te ha reasginado el caso por el siguiente motivo:
				<i class = "bold">"{{gestionCasosCtrl.caso.reasginaciones[0].motivo}}"</i>, para aceptar el cambio cambia el estatus del caso a <b>proceso</b> o haz click <a href = "javascript:;" ng-click = "gestionCasosCtrl.aceptaReasignacion()">aquí</a>.</p>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "mt-widget-1 margin-bottom-30 bg-white border-{{gestionCasosCtrl.caso.lider.class}}" ng-hide = "gestionCasosCtrl.validacionesVista.esLider()">
			<div class = "mt-icon">
				<a href = "#">
					<i class = "icon-plus"></i>
				</a>
			</div>
			<div class = "mt-img">
				<img src = "../assets/pages/media/users/avatar80_6.jpg"> </div>
			<div class = "mt-body">
				<h3 class = "mt-username">{{gestionCasosCtrl.caso.lider.nombre}}</h3>
				<p class = "mt-user-title">Líder del caso </p>
				<div class = "mt-stats">
					<div class = "btn-group btn-group btn-group-justified">
						<a href = "javascript:;" class = "btn font-yellow">
							<i class = "icon-bubbles"></i> 1,7k </a>
						<a href = "javascript:;" class = "btn font-red">
							<i class = "icon-social-twitter"></i> 2,6k </a>
						<a href = "javascript:;" class = "btn font-green">
							<i class = "icon-emoticon-smile"></i> 3,7k </a>
					</div>
				</div>
			</div>
		</div>
		<div class = "mt-widget-2 margin-bottom-30">
			<div class = "mt-head" style = "background-image: url(../assets/pages/img/background/32.jpg);">
				<div class = "mt-head-label">
					<button type = "button" class = "btn sbold uppercase btn-outline white">
						<i class = "fa fa-eye"></i>
						Ver cliente
					</button>
				</div>
				<div class = "mt-head-user">
					<div class = "mt-head-user-img">
						<img src = "../assets/pages/img/avatars/team7.jpg"> </div>
					<div class = "mt-head-user-info">
						<span class = "mt-user-name ng-binding">{{gestionCasosCtrl.caso.cotizacion.contacto.nombre}}</span>
						<span class = "mt-user-time bold ng-binding">
							 {{gestionCasosCtrl.caso.cotizacion.contacto.telefono | telefono}}
						</span>
						<span class = "mt-user-time bold ng-binding">
							 {{gestionCasosCtrl.caso.cotizacion.contacto.email}}
						</span>
					</div>
				</div>
			</div>
			<div class = "mt-body bg-white">
				<h3 class = "mt-body-title uppercase ng-binding"> {{gestionCasosCtrl.caso.cliente.razonsocial}} </h3>
				<span class = "mt-body-description text-justify ng-binding" style = "padding: 0 50px">
					 {{gestionCasosCtrl.caso.cliente.email}} - {{gestionCasosCtrl.caso.cliente.telefono | telefono}}
				</span>
				<ul class = "mt-body-stats">
					<li class = "font-green">
						<i class = "icon-emoticon-smile"></i> 3,7k</li>
					<li class = "font-yellow">
						<i class = " icon-social-twitter"></i> 3,7k</li>
					<li class = "font-red">
						<i class = "  icon-bubbles"></i> 3,7k</li>
				</ul>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Detalles cotización</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand" data-original-title = "Abrir/Cerrar" title = "Abrir/Cerrar"></a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<dl ng-repeat = "producto in gestionCasosCtrl.caso.cotizacion.productos">
					<dt>{{($index+1)+'. '+producto.nombre}}</dt>
					<dd ng-if = "producto.descripcion != ''">{{producto.descripcion}}</dd>
				</dl>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-yellow-crusta"></i>
					<span class = "caption-subject font-yellow-crusta bold uppercase">Póliza</span>
				</div>
			</div>
			<div class = "portlet-body">
			</div>
		</div>
		<div class = "portlet light portlet-fit" ng-show = "gestionCasosCtrl.validacionesVista.esLider() && gestionCasosCtrl.validacionesVista.estaProceso()">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-refresh font-red-thunderbird"></i>
					<span class = "caption-subject font-red-thunderbird bold uppercase">Reasignar caso</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<form role = "form" name = "gestionCasosCtrl.reasignaCaso.formulario">
					<div class = "form-body">
						<div class = "form-group">
							<label>Ejecutivo</label>
							<div class = "form-group">
								<select
									class = "form-control input-lg"
									ng-options = "ejecutivo.id as ejecutivo.nombre +' '+ejecutivo.apellido + ' | '+ ejecutivo.departamento.area for ejecutivo in gestionCasosCtrl.reasignaCaso.ejecutivos"
									ng-model = "gestionCasosCtrl.reasignaCaso.ejecutivo"
									required>
								</select>
							</div>
						</div>
						<div class = "form-group">
							<label>Motivo de la reasignación</label>
							<textarea class = "form-control"
							          rows = "3"
							          ng-model = "gestionCasosCtrl.reasignaCaso.motivo"
							          required>
							</textarea>
						</div>
						<div class = "form-group">
							<button class = "btn red-thunderbird btn-block" ng-disabled = "!gestionCasosCtrl.reasignaCaso.formulario.$valid" ng-click = "gestionCasosCtrl.reasignaCaso.guarda()">
								<i class = "fa fa-refresh"></i> Reasignar
							</button>
						</div>
					</div>
				</form>
				<hr>
				<h6>Historial de reasignaciónes</h6>
				<p ng-show = "gestionCasosCtrl.caso.reasginaciones.length == 0">Sin registro de reasignaciones.</p>
				<table class = "table table-hover table-light" ng-show = "gestionCasosCtrl.caso.reasginaciones.length > 0">
					<thead>
						<tr class = "uppercase">
							<th> # </th>
							<th> Anterior </th>
							<th> Actual </th>
							<th> Fecha </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "reasignacion in gestionCasosCtrl.caso.reasginaciones">
							<td>{{$index+1}} </td>
							<td> {{reasignacion.anterior.nombre}} </td>
							<td> {{reasignacion.actual.nombre}} </td>
							<td> {{reasignacion.fecha | amFromUnix | amDateFormat:'D/M/Y H:mm a'}} </td>
						</tr>
					</tbody>
				</table>
				<div class = "clearfix"></div>
			</div>
		</div>
		<div class = "portlet light portlet-fit" ng-show = "gestionCasosCtrl.validacionesVista.puedeReasignar()">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-exchange font-red-thunderbird"></i>
					<span class = "caption-subject font-red-thunderbird bold uppercase">Estatus del caso</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<form role = "form">
					<div class = "form-group">
						<label class = "bold">Cambia estatus</label>
						<div class = "form-group">
							<select
								class = "form-control input-lg"
								ng-options = "estatus.id as estatus.estatus for estatus in gestionCasosCtrl.cambiaEstatus.estatus"
								ng-change = "gestionCasosCtrl.cambiaEstatus.actuliza()"
								ng-model = "gestionCasosCtrl.cambiaEstatus.estatusNuevo">
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class = "col-md-5">
		<div class = "todo-content">
			<div class = "portlet light ">
				<!-- PROJECT HEAD -->
				<div class = "portlet-title">
					<div class = "caption">
						<i class = " icon-layers font-green"></i>
						<span class = "caption-subject font-green bold uppercase">Tareas</span>
					</div>
					<div class = "actions">
						<a class = "btn btn-circle green-jungle" ng-click = "gestionCasosCtrl.nuevaTarea(gestionCasosCtrl.caso.id)" ng-show = "gestionCasosCtrl.validacionesVista.esLider() || gestionCasosCtrl.validacionesVista.estaProceso()">
							<i class = "fa fa-plus"></i> <b>Nueva tarea</b>
						</a>
						<a class = "btn btn-circle blue-steel" ng-click = "gestionCasosCtrl.modalDistribucionTareas()">
							<i class = "fa fa-pie-chart"></i> <b>Distribución de tareas</b>
						</a>
						<a class = "btn btn-circle btn-icon-only btn-default" href = "javascript:;" data-original-title = "Recargar" title = "Recargar" ng-click = "gestionCasosCtrl.reloadTareas()">
							<i class = "fa fa-refresh"></i>
						</a>
						<a class = "btn btn-circle btn-icon-only btn-default fullscreen" href = "javascript:;" data-original-title = "Pantalla Completa" title = "Pantalla Completa"></a>
					</div>
				</div>
				<!-- end PROJECT HEAD -->
				<div class = "portlet-body">
					<div class = "row">
						<div class = "col-md-12">
							<h3 ng-if = "gestionCasosCtrl.caso.tareas.length == 0">Empieza a asginar tareas a los ejecutivos.</h3>
							<div class = "todo-tasklist">
								<div class = "todo-tasklist-item mt-element-ribbon" ng-repeat = "tarea in gestionCasosCtrl.caso.tareas" ng-style = "{'border-left': '4px solid '+tarea.ejecutivo.color}">
									<div class = "ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-round ribbon-border-dash-hor bg-font-{{tarea.estatus.class}} uppercase">
										<div class = "ribbon-sub ribbon-clip ribbon-right" ng-style = "{'background-color': tarea.estatus.color}"></div>
										<b>{{tarea.estatus.estatus}}</b>
									</div>
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar4.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title">{{tarea.ejecutivo.nombre}}</div>
									<div class = "todo-tasklist-item-text" ng-class = "{'font-green-jungle': gestionCasosCtrl.isWorking(tarea.id)}">
										<i class = "fa fa-cog fa-spin" ng-show = "gestionCasosCtrl.isWorking(tarea.id)" title = "Trabajando en estos momentos..."></i>
										<b>{{tarea.titulo}}</b>
									</div>
									<div class = "todo-tasklist-item-text"> {{tarea.descripcion}} </div>
									<br>
									<div class = "todo-tasklist-item-text">
										<i class = "fa fa-calendar"></i> <b>Inicio programado: </b>
										<span ng-if = "tarea.fecha_inicio == null">
											<i>Sin definir por {{tarea.ejecutivo.nombre}}</i>
										</span>
										<span ng-if = "tarea.fecha_inicio != null">
											{{tarea.fecha_inicio | amFromUnix | amDateFormat:'D[/]MMMM[/]YYYY [a las] hh:mm a'}}
										</span>
									</div>
									<div class = "todo-tasklist-item-text" ng-class = "{'animated shake bold font-red-thunderbird': gestionCasosCtrl.avisos.atrasoTarea(tarea)}">
										<i class = "fa fa-calendar"></i> <b>Cierre tentativo: </b>
										<span ng-if = "tarea.fecha_tentativa_cierre == null">
											<i>Sin definir por {{tarea.ejecutivo.nombre}}</i>
										</span>
										<span ng-if = "tarea.fecha_tentativa_cierre != null">
											{{tarea.fecha_tentativa_cierre | amFromUnix | amDateFormat:'D[/]MMMM[/]YYYY [a las] hh:mm a'}}
										</span>
									</div>
									<div class = "todo-tasklist-item-text">
										<i class = "fa fa-hourglass-start"></i> <b>Duración estimada:</b>
										<span ng-if = "tarea.duracion_tentativa_segundos == 0"> <i>Sin definir por {{tarea.ejecutivo.nombre}}</i> </span>
										<span ng-if = "tarea.duracion_tentativa_segundos != 0">
											{{ tarea.duracion_tentativa_segundos | duracion:'HH:mm':'s'}} horas.
										</span>
									</div>
									<div class = "todo-tasklist-item-text" ng-class = "{'animated shake bold font-red-thunderbird': gestionCasosCtrl.avisos.atrasoTarea(tarea)}">
										<i class = "fa fa-hourglass-start"></i>
										<b>Duración real:</b>
										<span>{{tarea.duracion_real_segundos | duracion:'HH:mm':'s'}} horas.</span>
									</div>
									<div class = "todo-tasklist-item-text">
										<i class = "fa fa-comment"></i> <b>Privados:</b> {{tarea.notas.privadas.length}} mensajes
									</div>
									<div class = "todo-tasklist-item-text">
										<i class = "fa fa-comment-o"></i> <b>Públicos:</b> {{tarea.notas.publicas.length}} mensajes
									</div>
									<hr>
									<div class = "todo-tasklist-controls">
										<div class = "todo-tasklist-item-text"><b>Avance:</b> {{tarea.avance}}%</div>
										<div class = "progress progress-striped active">
											<div class = "progress-bar {{tarea.ejecutivo.class}}" role = "progressbar" aria-valuenow = "{{tarea.avance}}" aria-valuemin = "0" aria-valuemax = "100" style = "width: {{tarea.avance}}%">
												<span class = "sr-only"> {{tarea.avance}}% Complete</span>
											</div>
										</div>
									</div>
									<hr>
									<div class = "todo-tasklist-controls" ng-show = "gestionCasosCtrl.validacionesVista.esLider() && gestionCasosCtrl.validacionesVista.estaProceso()">
										<button type = "button" class = "btn red-mint btn-xs faa-parent animated-hover" ng-click = "gestionCasosCtrl.editaTiempos(tarea.id)">
											<i class = "fa fa-clock-o faa-shake"></i>&nbsp;Tiempos
										</button>
										<button type = "button" class = "btn yellow-gold btn-xs faa-parent animated-hover" ng-click = "gestionCasosCtrl.editaNotas(tarea.id)">
											<i class = "fa fa-comments-o faa-shake"></i>&nbsp;Notas
										</button>
										<button type = "button" class = "btn blue btn-xs faa-parent animated-hover" ng-click = "gestionCasosCtrl.editaTarea(tarea.id)">
											<i class = "fa fa-edit faa-shake"></i>&nbsp;Tarea
										</button>
										<button type = "button" class = "btn red btn-xs faa-parent animated-hover" ng-click = "gestionCasosCtrl.modalReasgina(tarea.id)">
											<i class = "fa fa-refresh faa-spin"></i>&nbsp;Reasginar
										</button>
									</div>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-md-4">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Resumen</span>
				</div>
			</div>
			<div class = "portlet-body">
				
				<h4>Estatus del caso:</h4>
				<div class = "btn {{gestionCasosCtrl.caso.estatus.class}} btn-block" style = "cursor:default;"> <b class = "uppercase">{{gestionCasosCtrl.caso.estatus.estatus}}</b></div>
				
				<hr>
				
				<div class = "alert alert-warning" ng-show = "gestionCasosCtrl.caso.fecha_tentativa_precierre == null">
                                       <i class = "fa fa-warning"></i>  <strong> Aún no se tiene el cálculo tentativo de precierre del caso.</strong>
				</div>
				
				<div class = "alert bg-red-thunderbird bg-font-red-thunderbird animated infinite pulse" ng-show = "gestionCasosCtrl.avisos.atrasoCaso() && gestionCasosCtrl.avisos.tienFechaPrecierre()">
					<b>El caso va atrasado.</b>
					<p>La fecha tentativa de precierre fue programada para el {{gestionCasosCtrl.caso.fecha_tentativa_precierre | amFromUnix | amDateFormat:'D [de] MMMM [a las] h:mm a'}}, <span class = "bold" am-time-ago = "gestionCasosCtrl.caso.fecha_tentativa_precierre | amFromUnix"></span>.</p>
				</div>
				
				<div class = "alert bg-yellow-soft bg-font-yellow-soft" ng-show = "!gestionCasosCtrl.avisos.atrasoCaso() && gestionCasosCtrl.avisos.tienFechaPrecierre()">
					<b>A tiempo para terminar a la fecha tentativa.</b>
					<p>La fecha tentativa de precierre esta establecida para el {{gestionCasosCtrl.caso.fecha_tentativa_precierre | amFromUnix | amDateFormat:'D [de] MMMM [a las] h:mm a'}}, <span class = "bold" am-time-ago = "gestionCasosCtrl.caso.fecha_tentativa_precierre | amFromUnix"></span>.</p>
				</div>
				
				<h5 ng-if = "gestionCasosCtrl.caso.tareas.length == 0">Avance general: <b>No se han asignado tareas.</b></h5>
				<h5 ng-if = "gestionCasosCtrl.caso.tareas.length != 0">Avance general: <b>{{gestionCasosCtrl.calculoAvanceGeneral() | number:0}} % del caso se ha realizado.</b></h5>
				<div class = "progress" ng-if = "gestionCasosCtrl.caso.tareas.length != 0">
					<div class = "progress-bar bg-{{tarea.ejecutivo.class}}"
					     ng-style = "{width: (tarea.avance/gestionCasosCtrl.caso.tareas.length)+'%'}"
					     ng-repeat = "tarea in gestionCasosCtrl.caso.tareas">
						<span class = "sr-only"> {{(tarea.avance/gestionCasosCtrl.caso.tareas.length)}} % Completado </span>
					</div>
				</div>
				
				<ul class = "list-group">
					<li class = "list-group-item" ng-repeat = "tarea in gestionCasosCtrl.caso.tareas">
						<b>{{tarea.ejecutivo.nombre}}</b><br>
						 <span>{{tarea.titulo}}</span>
						<span class = "badge bg-{{tarea.ejecutivo.class}}"> <b>{{(tarea.avance)}} %</b> </span>
					</li>
				</ul>
			</div>
		</div>
		<div class = "portlet light portlet-fit">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = "fa fa-comments font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Mensajes</span>
					<span class = "caption-helper">Chat con el cliente y ejecutivos del caso.</span>
				</div>
			</div>
			<div class = "portlet-body" id = "chats">
				<div class = "scroller" style = "height: 300px;" data-always-visible = "1" data-rail-visible1 = "1">
					<ul class = "chats" ng-repeat = "mensaje in gestionCasosCtrl.mensajesChat">
						<li ng-class = "{'out': mensaje.ejecutivo.id != gestionCasosCtrl.usuarioActual.id, 'in': mensaje.ejecutivo.id == gestionCasosCtrl.usuarioActual.id}">
							<img class = "avatar" alt = "" src = "../assets/layouts/layout2/img/avatar2.jpg"/>
							<div class = "message">
								<span class = "arrow"> </span>
								<span class = "name font-{{mensaje.ejecutivo.class}}">{{mensaje.ejecutivo.rol}} | <b>{{mensaje.ejecutivo.nombre}}</b></span>
								<span class = "datetime font-grey-salsa" am-time-ago = "mensaje.timestamp | amFromUnix"></span>
								<span class = "body"> {{mensaje.mensaje}} </span>
							</div>
						</li>
					</ul>
				</div>
				<div class = "chat-form" ng-show = "gestionCasosCtrl.validacionesVista.esLider()">
					<div class = "input-cont">
						<input class = "form-control" type = "text" id = "mensaje" placeholder = "Escribe aquí tu mensaje."/>
					</div>
					<div class = "btn-cont">
						<span class = "arrow"> </span>
						<a href = "" class = "btn blue icn-only" ng-click = "gestionCasosCtrl.chat.enviar()">
							<i class = "fa fa-check icon-white"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type = "text/ng-template" id = "modalNuevaTarea.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalNuevaTarea.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Nueva tarea </h4>
	</div>
	<div class = "modal-body">
		<form name = "modalNuevaTarea.tareaForm" class = "form-horizontal">
			<!-- TASK HEAD -->
			<div class = "form">
				<!-- TASK TAGS -->
				<div class = "form-group">
					<div class = "col-md-12">
						<label for = "ejecutivo">Ejecutivo:</label>
						<select
							id = "ejecutivo"
							class = "form-control input-sm"
							ng-options = "ejecutivo.nombre +' '+ejecutivo.apellido + ' | '+ ejecutivo.departamento.area for ejecutivo in modalNuevaTarea.ejecutivos"
							ng-model = "modalNuevaTarea.tarea.ejecutivo"
							required>
						</select>
					</div>
				</div>
				<!-- TASK TAGS -->
				<!-- TASK TITLE -->
				<div class = "form-group">
					<div class = "col-md-12">
						<label for = "titulo">Título de la tarea:</label>
						<input type = "text" id = "titulo" class = "form-control input-lg" ng-model = "modalNuevaTarea.tarea.titulo" required>
					</div>
				</div>
				<!-- TASK DESC -->
				<div class = "form-group">
					<div class = "col-md-12">
						<label for = "descripcion">Descripción:</label>
						<textarea id = "descripcion" class = "form-control" rows = "4" ng-model = "modalNuevaTarea.tarea.descripcion" required></textarea>
					</div>
				</div>
				<!-- END TASK DESC -->
			</div>
		</form>
	</div>
	<div class = "modal-footer">
		<button type = "button" class = "btn red-sunglo" ng-disabled = "!modalNuevaTarea.tareaForm.$valid" ng-click = "modalNuevaTarea.guarda()">Asignar Tarea</button>
		<button class = "btn grey-mint btn-outline" ng-click = "modalNuevaTarea.cancel()">Cerrar</button>
	</div>
</script>

<script type = "text/ng-template" id = "modalGestionTareas.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalDistribucionTareas.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Distribución de tareas </h4>
	</div>
	<div class = "modal-body">
		
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "modalDistribucionTareas.cancel()">Cerrar</button>
	</div>
</script>