<div class = "page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after
	"page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class = "page-sidebar-menu page-sidebar-menu-light page-sidebar-menu-compact page-sidebar-menu-hover-submenu"
	    data-keep-expanded = "false"
	    data-auto-scroll = "true"
	    data-slide-speed = "200"
	    ng-class = "{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		
		<li class = "start">
			<a href = "#/dashboard">
				<i class = "icon-home"></i>
				<span class = "title"><b>Inicio</b></span>
				<span class = "arrow "></span>
			</a>
		</li>

		<li class = "nav-item">
			<a href = "javascript:;" class = "nav-link nav-toggle">
				<i class = "fa fa-users"></i>
				<span class = "title"> <b>Clientes</b></span>
				<span class = "arrow "></span>
			</a>
			<ul class = "sub-menu">
				<li>
					<a href = "#/cliente/nuevo">
						<i class = "fa fa-plus"></i> Añadir
					</a>
				</li>
				<li>
					<a href = "#/clientes">
						<i class = "fa fa-cogs"></i> Gestión
					</a>
				</li>
			</ul>
		</li>
		
		<li class = "nav-item">
			<a href = "javascript:;" class = "nav-link nav-toggle">
				<i class = "fa fa-book"></i>
				<span class = "title"> <b>Casos</b></span>
				<span class = "arrow "></span>
			</a>
			<ul class = "sub-menu">
				<li>
					<a href = "#/casos/por-asiginar">
						<i class = "fa fa-exclamation-circle"></i>
						<span class = "title">Casos por asignar</span>
						<span class = "badge badge-danger">5</span>
					</a>
				</li>
				<li>
					<a href = "#/mis-casos">
						<i class = "fa fa-asterisk"></i> Mis casos
						<span class = "badge badge-danger">5</span>
					</a>
				</li>
				<li>
					<a href = "#/casos">
						<i class = "fa fa-list"></i> Registro de casos
					</a>
				</li>
			</ul>
		</li>

		<li class = "nav-item">
			<a href = "javascript:;" class = "nav-link nav-toggle">
				<i class = "fa fa-file-pdf-o"></i>
				<span class = "title"> <b>Cotizaciones</b></span>
				<span class = "arrow "></span>
			</a>
			<ul class = "sub-menu">
				<li>
					<a href = "#/cotizacion/nuevo">
					<i class = "fa fa-plus"></i> Nueva cotización</a>
				</li>
				<li>
					<a href = "#/cotizaciones/pagos-revisar">
					<i class = "fa fa-dollar"></i> Pagos por revisar</a>
				</li>
				<li>
					<a href = "#/cotizaciones">
					<i class = "fa fa-search"></i> Historial</a>
				<li>
			</ul>
		</li>

		<li class = "nav-item" permission permission-only = "['ADMIN']">
			<a href = "javascript:;" class = "nav-link nav-toggle">
				<i class = "fa fa-user"></i>
				<span class = "title"><b>Ejecutivos</b></span>
				<span class = "arrow "></span>
			</a>
			<ul class = "sub-menu">
				<li>
					<a href = "#/ejecutivo/nuevo">
						<i class = "fa fa-user-plus"></i> Nuevo</span>
					</a>
				</li>
				<li>
					<a href = "#/ejecutivos">
						<i class = "fa fa-cogs"></i> Gestión</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li class = "nav-item">
			<a href = "javascript:;" class = "nav-link nav-toggle">
				<i class = "fa fa-calendar"></i>
				<span class = "title"> <b>Eventos</b></span>
				<span class = "arrow "></span>
			</a>
			<ul class = "sub-menu">
				<li>
					<a href = "#/evento/nuevo">
					<i class = "fa fa-plus"></i> Añadir</a>
				</li>
				<li>
					<a href = "#/eventos">
					<i class = "fa fa-cogs"></i> Gestión</a>
				<li>
			</ul>
		</li>

		<li class = "nav-item">
			<a href = "#/productos" class = "nav-link nav-toggle">
				<i class = "fa fa-shopping-cart"></i>
				<span class = "title"> <b>Productos</b></span>
			</a>
		</li>

		<li class = "nav-item">
			<a href = "javascript:;" class = "nav-link nav-toggle">
				<i class = "fa fa-cogs"></i>
				<span class = "title"> <b>Gestor general</b> </span>
				<span class = "arrow "></span>
			</a>
			<ul class = "sub-menu">
				<li>
					<a href = "#/gestion/oficinas">
						<i class = "fa fa-building"></i> Oficinas </span>
					</a>
				</li>
				<li>
					<a href = "#/gestion/departamentos">
						<i class = "fa fa-building"></i> Departamentos </span>
					</a>
				</li>
				<li>
					<a href = "#/gestion/sistemas-contpaqi">
						<i class = "fa fa-info"></i> Sistemas <strong>CONTPAQi®</strong>
					</a>
				</li>
				<li>
					<a href = "#/gestion/sistemas-operativos">
						<i class = "fa fa-windows"></i> Sistemas Operativos
					</a>
				</li>

				<li>
					<a href = "#/gestion/cuentas-bancarias">
						<i class = "fa fa-bank"></i> Cuentas Bancarias
					</a>
				</li>

				<li>
					<a href = "#/gestion/observaciones-pago">
						<i class = "fa fa-eye"></i> Observaciones de pago
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>