<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>
<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Productos</a>
		</li>
	</ul>
</div>

<div class = "row">
	<div class = "col-md-7">
		<div class = "portlet light portlet-fit portlet-datatable ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " fa fa-building-o font-green"></i>
					<span class = "caption-subject font-green sbold uppercase">Productos</span>
				</div>
				<div class = "actions">
					<button type = "button" class = "btn btn-xs green" ng-click = "gestionProductosCtrl.openModalForm()">
						<i class = "fa fa-plus"></i>
						 Nuevo producto
					</button>
					<button type = "button" class = "btn btn-xs green" ng-click = "gestionProductosCtrl.tableProductos.reloadTable()">
						<i class = "fa fa-refresh"></i>
					</button>
				</div>
			</div>
			<div class = "portlet-body">
				<table id = "tableProductos"
				       datatable = ""
				       dt-options = "gestionProductosCtrl.tableProductos.dtOptions"
				       dt-columns = "gestionProductosCtrl.tableProductos.dtColumns"
				       dt-instance = "gestionProductosCtrl.tableProductos.dtInstance"
				       class = "table table-striped table-bordered table-hover">
				</table>
			</div>
		</div>
	</div>
	<div class = "col-md-5">
		
	</div>
</div>