<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
	<div class = "page-toolbar">
		<div class = "btn-group pull-right">
			<button type = "button" class = "btn btn-fit-height grey-salt dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown" data-delay = "1000" data-close-others = "true"> Actions
				<i class = "fa fa-angle-down"></i>
			</button>
			<ul class = "dropdown-menu pull-right" role = "menu">
				<li>
					<a href = "#">
						<i class = "icon-bell"></i>
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-shield"></i> Another action
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-user"></i> Something else here
					</a>
				</li>
				<li class = "divider"> </li>
				<li>
					<a href = "#">
						<i class = "icon-bag"></i> Separated link
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-4">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Detalle del caso</span>
				</div>
			</div>
			<div class = "portlet-body">
				<h5>Cliente</h5>
				<div class = "row static-info">
					<div class = "col-md-3 name"> Razón Social: </div>
					<div class = "col-md-9 value"> {{detalleCasoCtrl.caso.cliente.razonsocial}} </div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-3 name"> R.F.C.: </div>
					<div class = "col-md-9 value"> {{detalleCasoCtrl.caso.cliente.rfc}} </div>
				</div>
				<br>
				<h5>Contacto</h5>
				<div class = "row static-info">
					<div class = "col-md-3 name"> Nombre: </div>
					<div class = "col-md-9 value"> {{detalleCasoCtrl.caso.cotizacion.contacto.nombre}}</div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-3 name"> Email: </div>
					<div class = "col-md-9 value"> {{detalleCasoCtrl.caso.cotizacion.contacto.email}}</div>
				</div>
				<div class = "row static-info">
					<div class = "col-md-3 name"> Teléfono: </div>
					<div class = "col-md-9 value">{{detalleCasoCtrl.caso.cotizacion.contacto.telefono | telefono}} </div>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-md-6">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Resumen</span>
				</div>
			</div>
			<div class = "portlet-body">
				
			</div>
		</div>
	</div>
	<div class = "col-md-2">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Resumen</span>
				</div>
			</div>
			<div class = "portlet-body">
				
			</div>
		</div>
	</div>
</div>