<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
	<div class = "page-toolbar">
		<div class = "btn-group pull-right">
			<button type = "button" class = "btn btn-fit-height grey-salt dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown" data-delay = "1000" data-close-others = "true"> Actions
				<i class = "fa fa-angle-down"></i>
			</button>
			<ul class = "dropdown-menu pull-right" role = "menu">
				<li>
					<a href = "#">
						<i class = "icon-bell"></i>
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-shield"></i> Another action
					</a>
				</li>
				<li>
					<a href = "#">
						<i class = "icon-user"></i> Something else here
					</a>
				</li>
				<li class = "divider"> </li>
				<li>
					<a href = "#">
						<i class = "icon-bag"></i> Separated link
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "row">
	<div class = "col-md-12">
		<div class = "alert alert-block alert-danger fade in">
			<h4 class = "alert-heading">Se te ha asignado este nuevo caso.</h4>
			<p> Debes de aceptar ser líder de este caso antes de continuar o reasginar el caso a otro ejecutivo. </p>
			<br>
			<p>
			    <button type = "button" class = "btn green-meadow"><b>Aceptar caso</b></button>
			    <button type = "button" class = "btn red-sunglo"><b>Reasginar caso</b></button>
			</p>
		</div>
	</div>
	<div class = "col-md-3">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Detalles cotización</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<dl ng-repeat = "producto in detalleCasoCtrl.caso.cotizacion.productos">
					<dt>{{($index+1)+'. '+producto.nombre}}</dt>
					<dd ng-if = "producto.descripcion != ''">{{producto.descripcion}}</dd>
				</dl>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Cliente</span>
				</div>
			</div>
			<div class = "portlet-body">
				<dl>
					<dt>Cliente</dt>
					<dd>{{detalleCasoCtrl.caso.cliente.razonsocial}}</dd>
					<dd><i>{{detalleCasoCtrl.caso.cliente.rfc}}</i></dd>
					<br>
					<dt>Contacto</dt>
					<dd>{{detalleCasoCtrl.caso.cotizacion.contacto.nombre}}</dd>
					<dd>{{detalleCasoCtrl.caso.cotizacion.contacto.email}}</dd>
					<dd>{{detalleCasoCtrl.caso.cotizacion.contacto.telefono | telefono}}</dd>
				</dl>
			</div>
		</div>
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-red-thunderbird"></i>
					<span class = "caption-subject font-red-thunderbird bold uppercase">Reasginar caso</span>
				</div>
				<div class = "tools">
					<a href = "javascript:;" class = "expand"> </a>
				</div>
			</div>
			<div class = "portlet-body portlet-collapsed">
				<dl ng-repeat = "producto in detalleCasoCtrl.caso.cotizacion.productos">
					<dt>{{($index+1)+'. '+producto.nombre}}</dt>
					<dd ng-if = "producto.descripcion != ''">{{producto.descripcion}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class = "col-md-5">
		<div class = "todo-content">
			<div class = "portlet light ">
				<!-- PROJECT HEAD -->
				<div class = "portlet-title">
					<div class = "caption">
						<i class = "icon-bar-chart font-green-sharp hide"></i>
						<span class = "caption-helper">GlobalEx Tasks:</span> &nbsp;
						<span class = "caption-subject font-green-sharp bold uppercase">Tune Website</span>
					</div>
					<div class = "actions">
						<div class = "btn-group">
							<a class = "btn green btn-circle btn-sm" href = "javascript:;" data-toggle = "dropdown" data-hover = "dropdown" data-close-others = "true"> MANAGE
								<i class = "fa fa-angle-down"></i>
							</a>
							<ul class = "dropdown-menu pull-right">
								<li>
									<a href = "javascript:;"> New Task </a>
								</li>
								<li class = "divider"> </li>
								<li>
									<a href = "javascript:;"> Pending
										<span class = "badge badge-danger"> 4 </span>
									</a>
								</li>
								<li>
									<a href = "javascript:;"> Completed
										<span class = "badge badge-success"> 12 </span>
									</a>
								</li>
								<li>
									<a href = "javascript:;"> Overdue
										<span class = "badge badge-warning"> 9 </span>
									</a>
								</li>
								<li class = "divider"> </li>
								<li>
									<a href = "javascript:;"> Delete Project </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end PROJECT HEAD -->
				<div class = "portlet-body">
					<div class = "row">
						<div class = "col-md-12">
							<div class = "todo-tasklist">
								<div class = "todo-tasklist-item todo-tasklist-item-border-green">
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar4.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title"> Luis Macias </div>
									<div class = "todo-tasklist-item-text"><b>Slider Redesign </b> </div>
									<div class = "todo-tasklist-item-text"> Lorem dolor sit amet ipsum dolor sit consectetuer dolore. </div>
									<br>
									<div class = "todo-tasklist-item-text"><i class = "fa fa-calendar"></i> <b>Cierre tentativa:</b> 21/Sep/2014</div>
									<hr>
									<div class = "todo-tasklist-controls">
										<div class = "progress progress-striped active">
											<div class = "progress-bar progress-bar-info" role = "progressbar" aria-valuenow = "40" aria-valuemin = "0" aria-valuemax = "100" style = "width: 40%">
												<span class = "sr-only"> 40% Complete (success) </span>
											</div>
										</div>
									</div>
									<hr>
									<div class = "todo-tasklist-controls">
										<button type = "button" class = "btn green btn-xs">Detalles</button>
										<button type = "button" class = "btn green btn-xs">Editar</button>
									</div>
								</div>
								<div class = "todo-tasklist-item todo-tasklist-item-border-red">
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar5.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title"> Homepage Alignments to adjust </div>
									<div class = "todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer dolore dolor sit amet. </div>
									<div class = "todo-tasklist-controls pull-left">
										<span class = "todo-tasklist-date">
											<i class = "fa fa-calendar"></i> 14 Sep 2014 </span>
										<span class = "todo-tasklist-badge badge badge-roundless">Important</span>
									</div>
								</div>
								<div class = "todo-tasklist-item todo-tasklist-item-border-blue">
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar6.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title"> Contact Us Map Location changes </div>
									<div class = "todo-tasklist-item-text"> Lorem ipsum amet, consectetuer dolore dolor sit amet. </div>
									<div class = "todo-tasklist-controls pull-left">
										<span class = "todo-tasklist-date">
											<i class = "fa fa-calendar"></i> 04 Oct 2014 </span>
										<span class = "todo-tasklist-badge badge badge-roundless">Postponed</span>&nbsp;
										<span class = "todo-tasklist-badge badge badge-roundless">Test</span>
									</div>
								</div>
								<div class = "todo-tasklist-item todo-tasklist-item-border-purple">
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar7.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title"> Projects list new Forms </div>
									<div class = "todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer dolore psum dolor sit. </div>
									<div class = "todo-tasklist-controls pull-left">
										<span class = "todo-tasklist-date">
											<i class = "fa fa-calendar"></i> 19 Dec 2014 </span>
									</div>
								</div>
								<div class = "todo-tasklist-item todo-tasklist-item-border-yellow">
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar8.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title"> New Search Keywords </div>
									<div class = "todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer sit amet ipsum dolor, consectetuer ipsum consectetuer sit amet dolore. </div>
									<div class = "todo-tasklist-controls pull-left">
										<span class = "todo-tasklist-date">
											<i class = "fa fa-calendar"></i> 02 Feb 2015 </span>
										<span class = "todo-tasklist-badge badge badge-roundless">Postponed</span>&nbsp; </div>
								</div>
								<div class = "todo-tasklist-item todo-tasklist-item-border-green">
									<img class = "todo-userpic pull-left" src = "../assets/pages/media/users/avatar9.jpg" width = "27px" height = "27px">
									<div class = "todo-tasklist-item-title"> Slider Redesign </div>
									<div class = "todo-tasklist-controls pull-left">
										<span class = "todo-tasklist-date">
											<i class = "fa fa-calendar"></i> 10 Feb 2015 </span>
										<span class = "todo-tasklist-badge badge badge-roundless">Important</span>&nbsp; </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div class = "portlet light portlet-fit ">-->
		<!--<div class = "portlet-title">-->
		<!--<div class = "caption">-->
		<!--<i class = " icon-layers font-green"></i>-->
		<!--<span class = "caption-subject font-green bold uppercase">Tareas</span>-->
		<!--</div>-->
		<!--<div class = "actions">-->
		<!--<button type = "button" class = "btn green-meadow">-->
		<!--<b><i class="fa fa-plus"></i> Nueva Tarea</b>-->
		<!--</button>-->
		<!--</div>-->
		<!--</div>-->
		<!--<div class = "portlet-body">-->
		<!---->
		<!--</div>-->
		<!--</div>-->
	</div>
	<div class = "col-md-4">
		<div class = "portlet light portlet-fit ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " icon-layers font-green"></i>
					<span class = "caption-subject font-green bold uppercase">Resumen</span>
				</div>
			</div>
			<div class = "portlet-body">
				
			</div>
		</div>
	</div>
</div>