<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
</div>

<div class = "row">
	<div class = "col-md-6">
		<div class = "portlet light portlet-fit portlet-datatable ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " fa fa-file-pdf-o font-green"></i>
					<span class = "caption-subject font-green sbold uppercase"> Mis casos asignados </span>
				</div>
				<div class = "actions">
					<button type = "button" class = "btn btn-xs green" ng-click = "misCasosCtrl.reloadTableAsignados()">
						<i class = "fa fa-refresh"></i>
					</button>
				</div>
			</div>
			<div class = "portlet-body">
				<table id = "tableCasos"
				       datatable = ""
				       dt-options = "misCasosCtrl.tableCasosAsignados.dtOptions"
				       dt-columns = "misCasosCtrl.tableCasosAsignados.dtColumns"
				       dt-instance = "misCasosCtrl.tableCasosAsignados.dtInstance"
				       class = "table table-hover table-light">
				</table>
			</div>
		</div>
	</div>
	<div class = "col-md-6">
		<div class = "portlet light portlet-fit portlet-datatable ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " fa fa-file-pdf-o font-green"></i>
					<span class = "caption-subject font-green sbold uppercase"> Mis casos en proceso </span>
				</div>
				<div class = "actions">
					<button type = "button" class = "btn btn-xs green" ng-click = "misCasosCtrl.tableCasosProceso.reloadTable()">
						<i class = "fa fa-refresh"></i>
					</button>
				</div>
			</div>
			<div class = "portlet-body">
				<table id = "tableCasosProceso"
				       datatable = ""
				       dt-options = "misCasosCtrl.tableCasosProceso.dtOptions"
				       dt-columns = "misCasosCtrl.tableCasosProceso.dtColumns"
				       dt-instance = "misCasosCtrl.tableCasosProceso.dtInstance"
				       class = "table table-hover table-light">
				</table>
			</div>
		</div>
	</div>
</div>

<script type = "text/ng-template" id = "modalRevision.html">
	<div class = "modal-header">
		<button type = "button" class = "close" aria-hidden = "true" ng-click = "modalRevisaCtrl.cancel()"></button>
		<h4 class = "modal-title font-green-sharp"><i class = "fa file-pdf-o"></i> Cotización #{{modalRevisaCtrl.cotizacion.id}} </h4>
	</div>
	<div class = "modal-body">
		<h4 class = "page-title"> {{modalRevisaCtrl.cotizacion.cliente.razonsocial}}
			<span class = "badge bg-yellow-casablanca bg-font-yellow-casablanca badge-roundless" ng-if = "modalRevisaCtrl.cotizacion.cliente.distribuidor"><b>Distribuidor</b></span>
		</h4>
		
		<div class = "row">
			<div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a class = "dashboard-stat red" href = "#">
					<div class = "visual">
						<i class = "fa fa-dollar"></i>
					</div>
					<div class = "details">
						<div class = "number">
							<span data-counter = "counterup" data-value = "1349">$ {{modalRevisaCtrl.cotizacion.total | number:2}}</span>
						</div>
						<div class = "desc"> Total Cotización </div>
					</div>
				</a>
			</div>
			<div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a class = "dashboard-stat green" href = "#">
					<div class = "visual">
						<i class = "fa fa-history"></i>
					</div>
					<div class = "details">
						<div class = "number">
							<span data-counter = "counterup" data-value = "549">0</span>
						</div>
						<div class = "desc"> Pagos</div>
					</div>
				</a>
			</div>
			<div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a class = "dashboard-stat red" href = "#">
					<div class = "visual">
						<i class = "fa fa-bar-chart-o"></i>
					</div>
					<div class = "details">
						<div class = "number">
							<span data-counter = "counterup" data-value = "12,5">0</span></div>
						<div class = "desc"> CxC Pendientes </div>
					</div>
				</a>
			</div>
			<div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<a class = "dashboard-stat yellow-mint" href = "#">
					<div class = "visual">
						<i class = "fa fa-bar-chart-o"></i>
					</div>
					<div class = "details">
						<div class = "number">
							<span data-counter = "counterup" data-value = "12,5">10:23</span> hrs </div>
						<div class = "desc"> Poliza </div>
					</div>
				</a>
			</div>
		</div>
		
		<div class = "row" ng-if = "modalRevisaCtrl.cotizacion.cxc">
			<div class = "col-md-12">
				<div class = "alert alert-danger">
                                      Esta cotización es una <strong>Cuenta por Cobrar</strong>.
				</div>
			</div>
		</div>
				
		<div class = "row">
			<div class = "col-md-5">
				<div class = "col-md-12">
					<h4 class = "form-section">Información de la cotización</h4>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Ejecutivo: </div>
						<div class = "col-md-8 value"> {{modalRevisaCtrl.cotizacion.ejecutivo.nombre}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Fecha: </div>
						<div class = "col-md-8 value">{{modalRevisaCtrl.cotizacion.fecha | amUtc | amDateFormat:'dddd, DD [de] MMMM [del] YYYY'}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Hora: </div>
						<div class = "col-md-8 value">{{modalRevisaCtrl.cotizacion.fecha | amUtc | amDateFormat:'[A las] h:mm:ss A'}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Vencimiento: </div>
						<div class = "col-md-8 value" am-time-ago = "modalRevisaCtrl.cotizacion.vencimiento"></div>
	                                </div>
					
					<hr>
					
					<h4 class = "form-section"> Contacto  </h4>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Nombre: </div>
						<div class = "col-md-8 value">  {{modalRevisaCtrl.cotizacion.contacto.nombre}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Teléfono: </div>
						<div class = "col-md-8 value">  {{modalRevisaCtrl.cotizacion.contacto.telefono | telefono}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Email: </div>
						<div class = "col-md-8 value">  {{modalRevisaCtrl.cotizacion.contacto.email}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Estatus: </div>
						<div class = "col-md-8 value">
							<span class = "badge bg-green-jungle bg-font-green-jungle badge-roundless" ng-if = "modalRevisaCtrl.cotizacion.contacto.online">
								<b>Activo</b>
							</span>
							<span class = "badge bg-red-mint bg-font-red-mint badge-roundless" ng-if = "!modalRevisaCtrl.cotizacion.contacto.online">
								<b>Inactivo</b>
							</span>
						</div>
	                                </div>
					
					<hr>
					
					<h4 class = "form-section"> Oficina  </h4>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Ciudad: </div>
						<div class = "col-md-8 value">  {{modalRevisaCtrl.cotizacion.oficina.ciudad}} </div>
	                                </div>
					<div class = "row static-info">
						<div class = "col-md-4 name"> Estado: </div>
						<div class = "col-md-8 value">  {{modalRevisaCtrl.cotizacion.oficina.estado}} </div>
	                                </div>
				</div>
			</div>
			<div class = "col-md-7">
				<div class = "col-md-12">
					<h4 class = "form-section">Detalle cotización</h4>
					<div class = "table-scrollable table-scrollable-borderless">
						<table class = "table table-hover table-light">
							<thead>
								<tr>
									<th> Código </th>
									<th> Producto </th>
									<th> Subtotal </th>
									<th> I.V.A. </th>
									<th> Total </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "producto in modalRevisaCtrl.cotizacion.productos">
									<td> {{producto.codigo}} </td>
									<td> {{producto.nombre}} </td>
									<td> $ {{producto.subtotal | number:2}} </td>
									<td> $ {{producto.iva | number:2}} </td>
									<td>
										<b>$ {{producto.total | number:2}} </b>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><b>TOTAL: </b></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<span class = "label label-sm label-danger"> <b>$ {{modalRevisaCtrl.cotizacion.total | number:2}} </b></span>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<div class = "col-md-12">
					<h4 class = "form-section">Pagos a validar</h4>
					<div class = "note note-info" ng-repeat = "pago in modalRevisaCtrl.cotizacion.pagos" ng-if = "!pago.valido">
						<h4 class = "block">Subido por: {{pago.contacto}}</h4>
						<b>{{pago.fecha | amUtc | amDateFormat:'dddd, DD [de] MMMM [del] YYYY [a las] h:mm:ss A'}}</b> | <b am-time-ago = "pago.fecha"></b>
						<p ng-if = "pago.comentario == ''"> <i>Sin comentarios</i> </p>
						<p ng-if = "pago.comentario != ''"> {{pago.comentario}} </p>
						<hr>
						<p ng-repeat = "comprobante  in pago.comprobantes">
							<a
								href = "https://www.baustroonline.com/appint/websiteimcba/recursos/pago_06.jpg"
								target = "_blank">{{comprobante.archivo}}
							</a>
						</p>
						<hr>
						<button type = "button" class = "btn green-jungle btn-sm" ng-click = "modalRevisaCtrl.indicaPagada(pago.id)"><i class = "fa fa-check"></i> Pagada</button>
						<button type = "button" class = "btn red-thunderbird btn-sm" ng-click = "modalRevisaCtrl.indicaIrregular(pago.id)"><i class = "fa fa-ban"></i> Irregular</button>
					</div>
				</div>
				<div class = "col-md-12">
					<button class = "btn yellow-casablanca btn-block">
						<i class = "fa fa-file-pdf-o"></i> Ver PDF
					</button>
				</div>
			</div>
		</div>
		<!--{{modalRevisaCtrl.cotizacion | json}}-->
	</div>
	<div class = "modal-footer">
		<button class = "btn grey-mint btn-outline" ng-click = "modalRevisaCtrl.cancel()">Cerrar</button>
	</div>
</script>
