<h3 class = "page-title"> {{vista.titulo}}
	<small>{{vista.subtitulo}}</small>
</h3>

<div class = "page-bar">
	<ul class = "page-breadcrumb">
		<li>
			<i class = "fa fa-home"></i>
			<a href = "#/dashboard">Inicio</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<a href = "#">Blank Page</a>
			<i class = "fa fa-angle-right"></i>
		</li>
		<li>
			<span>Page Layouts</span>
		</li>
	</ul>
</div>

<div class = "row">
	<div class = "col-md-6">
		<div class = "portlet light portlet-fit portlet-datatable ">
			<div class = "portlet-title">
				<div class = "caption">
					<i class = " fa fa-file-pdf-o font-green"></i>
					<span class = "caption-subject font-green sbold uppercase"> Casos asignados </span>
				</div>
				<div class = "actions">
					<button type = "button" class = "btn btn-xs green" ng-click = "misCasosCtrl.reloadTable()">
						<i class = "fa fa-refresh"></i>
					</button>
				</div>
			</div>
			<div class = "portlet-body">
				<table id = "tableCasos"
				       datatable = ""
				       dt-options = "misCasosCtrl.tableCasosAsignados.dtOptions"
				       dt-columns = "misCasosCtrl.tableCasosAsignados.dtColumns"
				       dt-instance = "misCasosCtrl.tableCasosAsignados.dtInstance"
				       class = "table table-hover table-light">
				</table>
			</div>
		</div>
	</div>
</div>
